<div class="edu-breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <h1 class="title">Placements</h1>
      </div>
      <ul class="edu-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item active" aria-current="page">Placements</li>
      </ul>
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-1">
      <span></span>
    </li>
    <li class="shape-2 scene">
      <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape" />
    </li>
    <li class="shape-3 scene">
      <img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape" />
    </li>
    <li class="shape-4">
      <span></span>
    </li>
    <li class="shape-5 scene">
      <img data-depth="2" src="assets/images/about/shape-07.png" alt="shape" />
    </li>
  </ul>
</div>

<!--=====================================-->
<!--=        Blog Area Start            =-->
<!--=====================================-->
<section class="section-gap-equal">
  <div class="container">
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(4)_(2).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(3)_(2).jpg" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(2)_(3).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(7).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(2)_(2)_(1)1.jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(6).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(5)2.jpg" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(4).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)1.png" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(3)_(1).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(3)_(2).jpg" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(7)_(1)1.jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(2)_(1)_(1).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(6)_(2)1.jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(6)_(1).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1).jpg" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(3)_(1).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(5)_(3).jpg" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(11).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(10).jpg" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408.jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(3)1.jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(2).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)_(1).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(8).jpg" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/DT_Placement_2023_(2)_(3).jpg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(7).jpg" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(6).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/DT_Placement_2023_(2).png" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(2)_(2).jpg" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/WhatsApp_Image_2023-02-15_at_11.35.26_AM_(1).jpeg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/WhatsApp_Image_2023-02-09_at_12.29.28_PM_(1)-min_(1).jpeg" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Saurabh_Dalavi.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/4_(1)_(1).webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/3_(1)_(1).webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/2_(1)_(1).webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/1_(1)_(1).webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/DT-Placement-2023-_1_.webp" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/DT-Placement-2023.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement-post-site-326x408-_1_.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/14.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/24.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/32.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/42.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/52.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/62.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Shashi_Verma.webp" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Pooja_Thorat.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Abhijeet_Sarkar.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Tejas_Gade.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sadaf_Sarang.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Darshan_Pande.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Md_Naushad_Alam.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Abhijeet_Chougule.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Ankit_Parsutkar.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Asawari_Walke.webp" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x4081.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(2)1.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/placement_post_site_326x408_(1)1.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Vaibhav_Phadtare.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Shivani_Vats.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Pranali_Remje.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sanika_Gade.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Dhanashree_Padole.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Pratik_Vaidya.webp" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Vishal_Jaiswal.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Akshay_Arun_Kudlkar1.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sneha_Dhoke.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sweety_Choudhari.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Akshay_Arun_Kudlkar1.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sneha_Dhoke.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sweety_Choudhari.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <div class="row g-5" id="masonry-gallery">
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Rasika_Gosavi.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Satyajeet_Desai.webp" alt="Blog Images" />
              </a>
            </div>
        
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item" >
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Chinmay_Warkari.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Rutuja_Shyam_Kadam.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Satyam_Hanchate.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Niranjan_Ingale.webp" alt="Blog Images" />
              </a>
            </div>
           
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Sagar_Javia.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Swati_Rajput.webp" alt="Blog Images" />
              </a>
            </div>
             
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div
        class="col-lg-4 col-md-6 col-12 masonry-item">
        <div class="edu-blog blog-style-5">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img src="https://digitaltrainee.com/images/placed_students1/Neha_Tirlotkar.webp" alt="Blog Images" />
              </a>
            </div>
          
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
    <ul class="edu-pagination top-space-30">
      <li>
        <a href="#" aria-label="Previous"><i class="icon-west"></i></a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li class="more-next"><a href="#"></a></li>
      <li><a href="#">8</a></li>
      <li>
        <a href="#" aria-label="Next"><i class="icon-east"></i></a>
      </li>
    </ul>
  </div>
</section>
<!--=====================================-->
<!--=        CTA  Area Start            =-->
<!--=====================================-->
<!-- Start Ad Banner Area  -->
<div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
  <div class="container">
    <div class="edu-cta-banner">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div
            class="section-title section-center" >
            <h2 class="title">
              Get Your Quality Skills
              <span class="color-secondary">Certificate</span> Through EduBlink
            </h2>
            <a href="contact-us.html" class="edu-btn"
              >Get started now <i class="icon-4"></i
            ></a>
          </div>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-01 scene">
          <img
            data-depth="2.5"
            src="assets/images/cta/shape-10.png"
            alt="shape"
          />
        </li>
        <li class="shape-02 scene">
          <img
            data-depth="-2.5"
            src="assets/images/cta/shape-09.png"
            alt="shape"
          />
        </li>
        <li class="shape-03 scene">
          <img
            data-depth="-2"
            src="assets/images/cta/shape-08.png"
            alt="shape"
          />
        </li>
        <li class="shape-04 scene">
          <img
            data-depth="2"
            src="assets/images/about/shape-13.png"
            alt="shape"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Ad Banner Area  -->
