<div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--21">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Job Details</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Job Details</li>
            </ul>
        </div>
    </div>
</div>

<!--=====================================-->
<!--=     Courses Details Area Start    =-->
<!--=====================================-->
<section class="edu-section-gap course-details-area">
    <div class="container">
        <div class="row row--30">
            <div class="col-lg-8">
                <div class="course-details-content course-details-3">
                    <div class="entry-content">
                        <h2 class="title">Job Details</h2>
                        <!-- <ul class="course-meta">
                            <li><i class="icon-58"></i>by Edward Norton</li>
                            <li><i class="icon-59"></i>English</li>
                            <li class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(720 Rating)</span>
                            </li>
                        </ul> -->
                        <!-- <div class="thumbnail">
                            <img src="assets/images/course/course-47.jpg" alt="Course">
                            <a href="https://www.youtube.com/watch?v=PICj5tr9hcc" class="video-play-btn video-popup-activation">
                                <i class="icon-18"></i>
                            </a>
                        </div> -->
                    </div>
                   

                    <div class="nav-tab-wrap">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="course-tab-content">
                                    <div class="course-overview">
                                       
                                        <h5>Responsibilities :</h5>
                                        <ul class="mb--50">
                                            <li>Provide classroom training in advanced digital marketing.</li>
                                            <li>Should have strong hands-on Digital Marketing Strategy , Website Designing , Search Engine Optimization , Content Marketing , Affiliate Marketing , Social Media Marketing , Search Advertising , Mobile Marketing , Display marketing , Analytics , Lead Generation , Online Reputation Management</li>
                                            <li>Adsense , Blogging and more.</li>
                                            <li>Planning and preparing courses and lessons for Digital Marketing.</li>
                                            <li>Helping students in the practical execution of digital marketing concepts.</li>
                                            <li>Delivering a demo session to the students.</li>
                                            <li>Should be able to handle student queries.</li>
                                            <li>Should have Google certifications (Display , Mobile , Video , Search and Analytics).</li>
                                        </ul>

                                        <h5 class="title">Key Skills :</h5>
                                        <ul>
                                            <li>Have Charismatic Personality.</li>
                                            <li>Good in technical Information & training management.</li>
                                            <li>Good Communication and presentation skills.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="course-sidebar-3">
                    <div class="edu-course-widget widget-course-summery">
                        <div class="inner">
                            <div class="content">
                          
                                <ul class="course-item">

                                    <li>
                                        <span class="label ">Designation:</span>
                                        <span class="value">Digital Marketing Trainer</span>
                                    </li>
                                    <li>
                                        <span class="label">Education :</span>
                                        <span class="value">Any graduation, <br>Post graduation<br> (certification in DM)</span>
                                    </li>
                                    <li>
                                        <span class="label">Experience :</span>
                                        <span class="value"> 1 to 4 years</span>
                                    </li>
                                    <li>
                                        <span class="label">Location :</span>
                                        <span class="value"> Pune,Mumbai</span>
                                    </li>
                                    <li>
                                        <span class="label">Interview Process :</span>
                                        <span class="value">Telephonic<br>& face to face</span>
                                    </li>
                                   
                                </ul>
                                <div class="read-more-btn" (click)="navigateToJobDetails()">
                                    <a href="#" class="edu-btn">Apply Now <i class="icon-4"></i></a>
                                </div>
                                <div class="share-area">
                                    <h4 class="title">Share On:</h4>
                                    <ul class="social-share">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>