<footer class="edu-footer footer-lighten bg-image footer-style-1">
    <div class="footer-top">
      <div class="container">
        <div class="row g-5">
          <div class="col-lg-3 col-md-6">
            <div class="edu-footer-widget">
              <div class="logo">
                <a href="index-2.html">
                  <img class="logo-light" style="width: 50px"
                    src="https://digitaltrainee.com/images/new_logo.webp"
                    alt="Corporate Logo">
                  <img class="logo-dark" style="width: 50px"
                    src="https://digitaltrainee.com/images/new_logo.webp"
                    alt="Corporate Logo">
                </a>
              </div>
              <p class="description">"Transform Your Career with Digital Expertise"</p>
              <div class="widget-information">
                <ul class="information-list">
                  <li>
                    <span>Add:</span>2nd floor, Manohar appt, Opp to P. N
                    Gadgil
                    jewellers, Shankarrao Joshi road, Karve Rd, near Nisarg
                    Sea
                    Food Hotel, Erandwane, Pune, Maharashtra 411004
                    (8956828983 /
                    7249860957 ) (8983765316 )
                  </li>
                  <li>
                    <span>Call:</span><a href="tel:+011235641231">+01 123 5641
                      231</a>
                  </li>
                  <li>
                    <span>Email:</span><a href="mailto: info@digitaltrainee.com"
                      target="_blank"> info@digitaltrainee.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="edu-footer-widget explore-widget">
              <h4 class="widget-title">Our Courses</h4>
              <div class="inner">
                <ul class="footer-link link-hover">
                  <li>
                    <a routerLink="digital-marketing-course">Digital Marketing
                      Course</a>
                  </li>
                  <li>
                    <a routerLink="online-digital-marketing-course">Online Digital
                      Marketing Course</a>
                  </li>
                  <li>
                    <a routerLink="corporate-practical-digital-marketing-course">Corporate
                      Digital Marketing Course</a>
                  </li>
                  <li>
                    <a routerLink="digital-marketing-agency-course">Digital
                      Marketing Agency Course</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="edu-footer-widget quick-link-widget">
              <h4 class="widget-title">Our Branches</h4>
              <div class="inner">
                <ul class="footer-link link-hover">
                  <li><a routerLink="branch-1"> Nal Stop, Pune</a></li>
                  <li>
                    <a routerLink="branch-2">Pimpri Chinchwad(PCMC) </a>
                  </li>
  
                  <li>
                    <a routerLink="branch-3">Viman Nagar, Pune</a>
                  </li>
                  <li>
                    <a routerLink="branch-4">Hadapsar, Pune</a>
                  </li>
                  <li>
                    <a routerLink="branch-5">Andheri East Mumbai</a>
                  </li>
                  <li>
                    <a routerLink="branch-6">Thane, Mumbai</a>
                  </li>
                  <li>
                    <a routerLink="branch-7">Udaipur, Rajasthan</a>
                  </li>
                  <li>
                    <a routerLink="branch-8">Trivandrum, Kerala</a>
                  </li>
                  <li>
                    <a routerLink="branch-9">Surat, Gujarat</a>
                  </li>
                  <li>
                    <a routerLink="branch-10">Ahmedabad, Gujarat</a>
                  </li>
                  <li><a routerLink="branch-11">Nagpur</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="edu-footer-widget">
              <h4 class="widget-title">Contacts</h4>
              <div class="inner">
                <p class="description">Enter your email address to register to
                  our courses subscription</p>
                <div class="input-group footer-subscription-form">
                  <input type="email" class="form-control"
                    placeholder="Your email">
                  <button class="edu-btn btn-medium" type="button">Subscribe
                    <i class="icon-4"></i></button>
                </div>
                <ul class="social-share icon-transparent">
                  <li><a href="#" class="color-fb"><i class="icon-facebook"></i></a></li>
                  <li><a href="#" class="color-linkd"><i
                        class="icon-linkedin2"></i></a></li>
                  <li><a href="#" class="color-ig"><i class="icon-instagram"></i></a></li>
                  <li><a href="#" class="color-twitter"><i
                        class="icon-twitter"></i></a></li>
                  <li><a href="#" class="color-yt"><i class="icon-youtube"></i></a></li>
                </ul>
                <div class="col-lg-4 col-md-6">
                  <div class="edu-footer-widget">
    
                    <div class="inner">
                      <h4 class="widget-title">Located At:</h4>
                      <iframe
                        src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d60536.025032103775!2d73.83056272451718!3d18.506223228728107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d18.5160028!2d73.8301434!4m5!1s0x3bc2c147547618c7%3A0x89d58b69b0de16d!2sDigital%20Trainee%20-%20Digital%20Marketing%20Courses%20in%20Hadapsar%2C%20Digital%20Trainee%2C%20KPCT%20Mall%2C%20A-%20Wing%2C%20Office%20No.209%20Vitthal%20Rao%20Shivarkar%20Rd%2C%20Hadapsar%2C%20Fatima%20Nagar%2C%20Wanowrie%2C%20Pune%2C%20Maharashtra%20411013!3m2!1d18.5032776!2d73.90068219999999!5e0!3m2!1sen!2sin!4v1683088887096!5m2!1sen!2sin"
                        width="350" height="150" style="border:0;"
                        allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="copyright-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="inner text-center">
              <p>
                Copyright 2023
                <a href="https://digitaltrainee.com" target="_blank">Digital</a>
                <a href="https://digitaltrainee.com" target="_blank">Trainee</a>.
                All Rights Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>