<!--=====================================-->
<!--=       Breadcrumb Area Start      =-->
<!--=====================================-->

<div class="edu-breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <h1 class="title">Frequently Asked Questions</h1>
      </div>
      <ul class="edu-breadcrumb">
        <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="separator"><i class="icon-angle-right"></i></li>
        <li class="breadcrumb-item active" aria-current="page">
          Frequently Asked Questions
        </li>
      </ul>
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-1">
      <span></span>
    </li>
    <li class="shape-2 scene">
      <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape" />
    </li>
    <li class="shape-3 scene">
      <img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape" />
    </li>
    <li class="shape-4">
      <span></span>
    </li>
    <li class="shape-5 scene">
      <img data-depth="2" src="assets/images/about/shape-07.png" alt="shape" />
    </li>
  </ul>
</div>

<!--=====================================-->
<!--=        FAQ Area Start            =-->
<!--=====================================-->
<section class="edu-section-gap faq-page-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="faq-page-nav">
          <h3 class="title">Questions By This Category</h3>
          <p>
            Lorem ipsum dolor sit amet consectur adipiscing elit sed eius mod ex
            tempor incididunt labore.
          </p>
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#gn-ques"
                type="button"
                role="tab"
                aria-selected="true"
              >
                General Quetions
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                data-bs-toggle="tab"
                data-bs-target="#pay-option"
                type="button"
                role="tab"
                aria-selected="true"
              >
                Course / Content
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#rg-ques"
                type="button"
                role="tab"
                aria-selected="false"
              >
                Job & Certification
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#rg-quess"
                type="button"
                role="tab"
                aria-selected="false"
              >
                Fees & Payments
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                data-bs-toggle="tab"
                data-bs-target="#com-policy"
                type="button"
                role="tab"
                aria-selected="false"
              >
                Business / Entrepreneur
              </button>
            </li>
            <!-- <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#pay-option" type="button" role="tab" aria-selected="false">Payment Options</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#terms-condition" type="button" role="tab" aria-selected="false">Terms & Conditions</button>
                                </li> -->
          </ul>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="tab-content faq-page-tab-content" id="faq-accordion">
          <div class="tab-pane fade show active" id="gn-ques" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-1"
                      aria-expanded="true"
                    >
                      What if I miss out on any of the classes?
                    </button>
                  </h5>
                  <div
                    id="question-1"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Students can either cover the missed topic by attending
                        the upcoming batches at 0 costs, or by accessing the
                        backup training videos provided in the portal, with a 6
                        months access.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-2"
                      aria-expanded="false"
                    >
                      What If I Have Some Doubts, How Do I Clear It?
                    </button>
                  </h5>
                  <div
                    id="question-2"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        If students have any doubts, they can contact our
                        institute from 9 am to 6 pm. We are always prepared and
                        eager to assist our students in resolving their queries.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-3"
                      aria-expanded="false"
                    >
                      In case of difficulty in understanding any topic
                    </button>
                  </h5>
                  <div
                    id="question-3"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Just ask your topic specific queries to your trainer.
                        You can make use of the extra time during or after the
                        class. Another way is to watch live or classroom videos
                        on the portal provided to you (having 6 months access).
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-4"
                      aria-expanded="false"
                    >
                      Does Digital Trainee provide training material?
                    </button>
                  </h5>
                  <div
                    id="question-4"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Yes, trainees are provided with a soft copy of the study
                        material. It covers both the basic and advanced topics
                        that will be taught. Also provided are external
                        knowledge videos that will throw light on different
                        strategies to execute your online campaigns.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-5"
                      aria-expanded="false"
                    >
                      Can you tell about the placements offered?
                    </button>
                  </h5>
                  <div
                    id="question-5"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        100% placement assistance is provided along with
                        interview preparation help. The HR team will provide
                        guidance and help you with the interview preparation,
                        till the time you get placed.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-6"
                      aria-expanded="false"
                    >
                      Do you provide online training as well?
                    </button>
                  </h5>
                  <div
                    id="question-6"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Yes. Online training is provided. It is provided free of
                        cost to the students, once they join the course. We have
                        flexible timings for individuals like business owners,
                        working professionals, etc., to enable them attend the
                        course as per their convenience. However, they are
                        required to discuss the timings with our counselors.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-7"
                      aria-expanded="false"
                    >
                      Is there any eligibility criteria to join Digital Trainee?
                    </button>
                  </h5>
                  <div
                    id="question-7"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        If you have successfully cleared 12th , you can be a
                        part of Digital Trainee (for freelancing/learning). On
                        the other hand, if you wish to undergo the course for
                        job purpose, then you are required to be at least a
                        graduate (any field). Working professionals and business
                        owners are also eligible for the Digital Marketing
                        Courses.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-7"
                      aria-expanded="false"
                    >
                      Will I get a certificate?
                    </button>
                  </h5>
                  <div
                    id="question-7"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Certification plays an important role in one's career.
                        It boosts your chances of getting hired in multiple
                        companies. It also helps in getting freelancing projects
                        and more. At Digital Trainee, we happen to provide 17+
                        certifications comprising of a course completion
                        certificate and an internship letter as well.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-7"
                      aria-expanded="false"
                    >
                      What about the salary?
                    </button>
                  </h5>
                  <div
                    id="question-7"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        It largely depends on your area of specialization.
                        However, initially, freshers can expect anywhere in the
                        range of 10-15K/month, while the experienced can expect
                        anywhere between the range of 20K-35K/month. Salary is
                        directly proportional to both your knowledge and
                        performance amid the interview, and while working in the
                        organization
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-7"
                      aria-expanded="false"
                    >
                      I'm Impressed, what is the location of your institute?
                    </button>
                  </h5>
                  <div
                    id="question-7"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Thanks for expressing your interest. Currently, we are
                        having 4+ branches: Nalstop |Pimple Saudagar (PCMC) |
                        Vimannagar | Andheri (East), Mumbai. Our institute
                        happens to be just 2 minutes away from the nearest bus
                        stop and metro station (Andheri). With this being the
                        case for each of our branch locations. For complete
                        Address
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="rg-ques" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-8"
                      aria-expanded="true"
                    >
                      How Can I Join & Start Digital Marketing Courses In Pune?
                    </button>
                  </h5>
                  <div
                    id="question-8"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        At Digital Trainee, we strongly believe in providing
                        personal attention to every student, including those who
                        have already completed our courses, those currently
                        studying with us, and those who are interested in
                        joining us. We offer individual interaction with our
                        trainer, either in person at our institute or over the
                        phone, To take you through our complete digital
                        marketing curriculum. Once you become a part of Digital
                        Trainee, you will receive personalized online study
                        materials and access to live classroom sessions, which
                        will help you start your course with us.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-9"
                      aria-expanded="false"
                    >
                      How Much Time Do I Need To Spent To Be A Expert?
                    </button>
                  </h5>
                  <div
                    id="question-9"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        We offer complete job placement assistance by assisting
                        you in: Creating your portfolio and resume. Preparing
                        you for interviews through mock practices and improving
                        your soft skills. Continuously providing you with
                        interview opportunities until you have placed. Granting
                        you lifelong membership to our job support group.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-10"
                      aria-expanded="false"
                    >
                      How Much Time Do I Need To Spent To Be A Expert?
                    </button>
                  </h5>
                  <div
                    id="question-10"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Practicing for an average of 3-4 hours per day, In
                        addition to the regular 1.30 -2 hour theoretical and
                        practical coaching sessions at our institute, can
                        significantly enhance your ability to implement your
                        studies effectively. It will ultimately enable you to
                        apply your knowledge in practical situations with higher
                        efficiency.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-11"
                      aria-expanded="false"
                    >
                      What Is Average Salary Package After Doing Digital
                      Marketing Classes In Pune?
                    </button>
                  </h5>
                  <div
                    id="question-11"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        When searching for a digital marketing course in Pune,
                        fees can vary greatly. Prices can range from as low as
                        99/- Rs to as high as 1,00,000/- Rs.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-12"
                      aria-expanded="false"
                    >
                      What Is Eligibility Criteria For Classroom & Online
                      Digital Marketing Course In Pune?
                    </button>
                  </h5>
                  <div
                    id="question-12"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        The requirements to pursue digital marketing are not
                        overly strict, as anyone who has graduated and has basic
                        computer knowledge can qualify. Whether you are a
                        business owner seeking to establish an online presence
                        or a job seeker looking to switch to a more rewarding
                        career that utilizes your potential, digital marketing
                        is a viable option to consider. Having the willingness
                        to develop creative methods to promote your ideas is
                        crucial for success in this field.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-13"
                      aria-expanded="false"
                    >
                      How Many Certificates Will I Get After Course Completion?
                    </button>
                  </h5>
                  <div
                    id="question-13"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        You Can Get 18+ Certificate Based On Your Knowledge 3
                        Certificate From Digital Trainee (ISO Certified) 15
                        Certificate From Google (Online Exam) *We Train You And
                        Help You To Get Online Certificate From Google &
                        Hubspot. *Note – We Also Provide You 3 months Internship
                        letter Based On a Real time Project You Complete.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-13"
                      aria-expanded="false"
                    >
                      What Is Scope Of Digital Marketing?
                    </button>
                  </h5>
                  <div
                    id="question-13"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        India is experiencing a digital advertising boom
                        following the growth of the every industry. Over time
                        various groups have recognized the potential of
                        different innovative digital advertising strategies.
                        Companies are realizing the benefits of online and
                        virtual channel advertising compared to traditional
                        offline advertising. In today's digital age, individuals
                        with online advertising skills and the ability to tailor
                        advertising strategies to meet business needs while
                        understanding the behavior of target audiences have
                        excellent career prospects and vast scope for digital
                        advertising in Pune. India has emerged as a significant
                        IT & manufacturing hub, making it an excellent
                        destination for individuals aspiring to pursue a career
                        as a digital marketer. The increasing usage of
                        smartphones and digital platforms among the Indian
                        population has led to a shift in marketing strategies,
                        with companies opting to advertise on these platforms to
                        target their audiences effectively.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="rg-ques" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-14"
                      aria-expanded="true"
                    >
                      Do You Provide Internship?
                    </button>
                  </h5>
                  <div
                    id="question-14"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        We Also Provide You 3 months Internship letter Based On
                        real time Project You Complete.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-15"
                      aria-expanded="false"
                    >
                      Will My Traditional Marketing Experience Count In Digital
                      Marketing?
                    </button>
                  </h5>
                  <div
                    id="question-15"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        As a Marketing Executive, you possess a distinct
                        advantage with your expertise in offline market
                        comprehension and on-field skills. By combining your
                        commanding ideas and strategies with proficiency in
                        digital marketing tools, your potential to succeed in
                        the market has greatly multiplied. As the world
                        continues to shift towards the online realm, you have
                        the potential to become a prominent leader in the
                        industry.
                      </p>
                    </div>
                  </div>
                </div>
                <!-- <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-16"
                            aria-expanded="false"
                          >
                            Where should I study abroad?
                          </button>
                        </h5>
                        <div
                          id="question-16"
                          class="accordion-collapse collapse"
                          data-bs-parent="#faq-accordion"
                        >
                          <div class="accordion-body">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit, sed do eiusmod tempor incididunt
                              labore et dolore magna aliqua enim ad minim veniam
                              quis nostrud exercitation ullamco qui laboris nis
                              aliquip commodo consequat.
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h5 class="accordion-header">
                          <button
                            class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#question-17"
                            aria-expanded="false"
                          >
                            Where can I find information on private companies?
                          </button>
                        </h5>
                        <div
                          id="question-17"
                          class="accordion-collapse collapse"
                          data-bs-parent="#faq-accordion"
                        >
                          <div class="accordion-body">
                            <p>
                              Lorem ipsum dolor sit amet, consectetur
                              adipisicing elit, sed do eiusmod tempor incididunt
                              labore et dolore magna aliqua enim ad minim veniam
                              quis nostrud exercitation ullamco qui laboris nis
                              aliquip commodo consequat.
                            </p>
                          </div>
                        </div>
                      </div> -->
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="rg-quess" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-18"
                      aria-expanded="true"
                    >
                      What Is The Fees structure ?
                    </button>
                  </h5>
                  <div
                    id="question-18"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>for fees structure call: 8983765316</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-19"
                      aria-expanded="false"
                    >
                      Can I Pay Digital Marketing Course In Pune Fee In
                      Installment?
                    </button>
                  </h5>
                  <div
                    id="question-19"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Yes You can Pay is in installment to know more call our
                        team.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-20"
                      aria-expanded="false"
                    >
                      What are the steps to enroll in and begin online or
                      offline digital marketing courses?
                    </button>
                  </h5>
                  <div
                    id="question-20"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Fill the admission form Book the time slot as per your
                        flexibility Make the payment Join the batch
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-21"
                      aria-expanded="false"
                    >
                      How Can I Pay?
                    </button>
                  </h5>
                  <div
                    id="question-21"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Course Payment Mode: Cash Google Pay PhonePe Paytm NEFT
                        / IMPS UPI Cheque Debit Card Credit Card
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-21"
                      aria-expanded="false"
                    >
                      Can I Get A Refund?
                    </button>
                  </h5>
                  <div
                    id="question-21"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Our refund policy is very strict, as we do not offer
                        refunds or transfers once payment has been made.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="tab-pane fade" id="pay-option" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-22"
                      aria-expanded="true"
                    >
                      Is There Any Prerequisites To Learn Python?
                    </button>
                  </h5>
                  <div
                    id="question-22"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-23"
                      aria-expanded="false"
                    >
                      How do I find a school where I want to study?
                    </button>
                  </h5>
                  <div
                    id="question-23"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-24"
                      aria-expanded="false"
                    >
                      Where should I study abroad?
                    </button>
                  </h5>
                  <div
                    id="question-24"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-25"
                      aria-expanded="false"
                    >
                      Where can I find information on private companies?
                    </button>
                  </h5>
                  <div
                    id="question-25"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <!-- <div class="tab-pane fade" id="terms-condition" role="tabpanel">
            <div class="faq-accordion">
              <div class="accordion">
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-26"
                      aria-expanded="true"
                    >
                      How to Change my Plan using PayPal?
                    </button>
                  </h5>
                  <div
                    id="question-26"
                    class="accordion-collapse collapse show"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-27"
                      aria-expanded="false"
                    >
                      How do I find a school where I want to study?
                    </button>
                  </h5>
                  <div
                    id="question-27"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-28"
                      aria-expanded="false"
                    >
                      Where should I study abroad?
                    </button>
                  </h5>
                  <div
                    id="question-28"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h5 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#question-29"
                      aria-expanded="false"
                    >
                      Where can I find information on private companies?
                    </button>
                  </h5>
                  <div
                    id="question-29"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faq-accordion"
                  >
                    <div class="accordion-body">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor incididunt labore et dolore
                        magna aliqua enim ad minim veniam quis nostrud
                        exercitation ullamco qui laboris nis aliquip commodo
                        consequat.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!--=====================================-->
<!--=        CTA  Area Start            =-->
<!--=====================================-->
<!-- Start Ad Banner Area  -->
<div class="edu-cta-banner-area home-one-cta-wrapper bg-image">
  <div class="container">
    <div class="edu-cta-banner">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div
            class="section-title section-center">
            <h2 class="title">
              Get Your Quality Skills
              <span class="color-secondary">Certificate</span>
              Through Digitize Brand
            </h2>
            <a href="contact-us.html" class="edu-btn"
              >Get started now <i class="icon-4"></i
            ></a>
          </div>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-01 scene">
          <img
            data-depth="2.5"
            src="assets/images/cta/shape-10.png"
            alt="shape"
          />
        </li>
        <li class="shape-02 scene">
          <img
            data-depth="-2.5"
            src="assets/images/cta/shape-09.png"
            alt="shape"
          />
        </li>
        <li class="shape-03 scene">
          <img
            data-depth="-2"
            src="assets/images/cta/shape-08.png"
            alt="shape"
          />
        </li>
        <li class="shape-04 scene">
          <img
            data-depth="2"
            src="assets/images/about/shape-13.png"
            alt="shape"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- End Ad Banner Area  -->
