
.split {
	display: flex;
	flex-flow: column nowrap;
}

/* ===== == = === 37.5em (600px) === = == ===== */
@media only screen and (min-width: 37.5em) {
	.split {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
}

table {
	display: flex;
	flex-flow: column nowrap;
	line-height: 1.25;
	border: 0;
}

tr {
	display: flex;
}

tr:nth-of-type(odd) {
	background-color: #E5E5E5;
}

th {
	font-weight: 700;
	background-color: #f2f2f2;
	color: #666;
}

th,
td {
	display: flex;
	flex: 1 0;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.1rem;
	border: 1px solid #BFBFBF;
	border-collapse: collapse;
	border-spacing: 0;
}

/* This will affect only Chrome browsers 29+
	* See: http://browserhacks.com/
	* Hack because 'hyphens: auto;' is supported in Chrome only on Android & Mac 
	* and word-break 'overrides' hyphens in Firefox
	*/
.selector:not(*:root), th, td {
	word-wrap: break-word;
	overflow-wrap: break-word;
	word-break: break-all;
}

/* Breaking the numbers! */
.numbers {
	word-break: break-word;
}