<div id="main-wrapper" class="main-wrapper">
  <!--=====================================-->
  <!--=       Hero Banner Area Start      =-->
  <!--=====================================-->
  <div class="hero-banner hero-style-10">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="banner-content">
            <h1 class="title">
              <span class="color-secondary"> Corporate Practical</span>
              Digital Marketing Training
            </h1>

            <div class="banner-btn">
              <a href="#" class="edu-btn"
                >Find courses <i class="icon-4"></i
              ></a>
            </div>

            <ul class="shape-group">
              <li class="shape-1">
                <span></span>
              </li>
              <li class="shape-2 scene">
                <span data-depth="2.5"></span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="banner-thumbnail">
            <div class="thumbnail">
              <img
                src="assets/images/banner/flag-boy.webp"
                alt="flag-boy Image"
              />
            </div>
            <div class="instructor-info">
              <div class="inner">
                <div class="enrolled-counter">
                  <div class="counterup-wrapper">
                    <h2 class="counter-item count-number primary-color">
                      <span class="odometer" data-odometer-final="9.3">.</span
                      ><span class="count-wrap">K</span>
                    </h2>
                    <h6 class="title">Enrolled</h6>
                  </div>
                </div>
                <div class="lahguage-counter">
                  <div class="counterup-wrapper">
                    <h2 class="counter-item count-number secondary-color">
                      <span class="odometer" data-odometer-final="20">.</span
                      ><span class="count-wrap">+</span>
                    </h2>
                    <h6 class="title">Languages</h6>
                  </div>
                </div>
              </div>
            </div>
            <ul class="shape-group">
              <li class="shape-3">
                <img src="assets/images/about/shape-15.png" alt="Shape" />
              </li>
              <li class="shape-4 scene">
                <img
                  data-depth="-1.5"
                  src="assets/images/counterup/shape-05.png"
                  alt="Shape"
                />
              </li>
              <li class="shape-5">
                <img src="assets/images/svg-icons/circle-big.svg" alt="Shape" />
              </li>
              <li class="shape-6">
                <img
                  src="assets/images/svg-icons/circle-small.svg"
                  alt="Shape"
                />
              </li>
              <li class="shape-7 scene">
                <img
                  data-depth="1.5"
                  src="assets/images/about/shape-13.png"
                  alt="Shape"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="shape-group">
      <li class="shape-8">
        <img src="assets/images/about/h-1-shape-01.png" alt="Shape" />
      </li>
    </ul>
  </div>
  <!--=====================================-->
 
  <!-- Start Blog Area  -->
  <div class="edu-blog-area blog-area-1 edu-section-gap">
    <div class="container">
      <div class="section-title section-center">
        <span class="pre-title">Latest Articles</span>
        <h2 class="title">Corporate Training Videos</h2>
        <span class="shape-line"><i class="icon-19"></i></span>
      </div>
      <div class="row g-5">
        <!-- Start Blog Grid  -->
        <div class="col-lg-4 col-md-6 col-12">
          <!-- <div class="edu-blog blog-style-1">
              <div class="inner">
                <div class="thumbnail">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog-01.jpg" alt="Blog Images" />
                  </a>
                </div>
               
              </div>
            </div> -->
          <div class="video-gallery video-gallery-5">
            <div class="thumbnail">
              <img src="assets/images/blog/blog-01.jpg" alt="Blog Images" />
              <a
                href="https://www.youtube.com/watch?v=UcGveJPJALc"
                class="video-play-btn video-popup-activation"
              >
                <i class="icon-18"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Blog Grid  -->
        <!-- Start Blog Grid  -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="video-gallery video-gallery-5">
            <div class="thumbnail">
              <img src="assets/images/blog/blog-02.jpg" alt="Blog Images" />
              <a
                href="https://www.youtube.com/watch?v=JEdtHla5sUM"
                class="video-play-btn video-popup-activation"
              >
                <i class="icon-18"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Blog Grid  -->
        <!-- Start Blog Grid  -->
        <div class="col-lg-4 col-md-6 col-12">
          <div class="video-gallery video-gallery-5">
            <div class="thumbnail">
              <img src="assets/images/blog/blog-03.jpg" alt="Blog Images" />
              <a
                href="https://www.youtube.com/watch?v=dDcNZoYvHuQ"
                class="video-play-btn video-popup-activation"
              >
                <i class="icon-18"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Blog Grid  -->
      </div>
    </div>
    <ul class="shape-group">
      <li class="shape-1 scene">
        <img
          data-depth="-1.4"
          src="assets/images/about/shape-02.png"
          alt="Shape"
        />
      </li>
      <li class="shape-2 scene">
        <span data-depth="2.5"></span>
      </li>
      <li class="shape-3 scene">
        <img
          data-depth="-2.3"
          src="assets/images/counterup/shape-05.png"
          alt="Shape"
        />
      </li>
    </ul>
  </div>
  <!-- End Blog Area  -->

  <!--=====================================-->
  <!--=       CounterUp Area Start      	=-->
  <!--=====================================-->
  <!-- Start Categories Area  -->
  <div class="features-area-5 gap-bottom-equal">
    <div class="container">
      <div class="section-title section-center">
        <span class="pre-title"> </span>
        <h2 class="title">Corporate Practical Digital Marketing Training</h2>
        <p>
          Now, no need to come to us! Digital Trainee Will Come To Your Doorstep
          and Train<br />
          You through its Digital Marketing Corporate Training program!
        </p>
        <span class="shape-line"><i class="icon-19"></i></span>
      </div>
      <div class="row g-5">
        <div class="col-lg-4">
          <div class="features-box color-primary-style edublink-svg-animate">
            <div class="icon">
              <img
                src="assets/images/svg-icons/h-8-shape-34.svg"
                alt="images svg"
              />
            </div>
            <div class="content">
              <h5 class="title">Training Modules and Topics:</h5>
              <ul style="text-align: justify;">
                <li>Complete advanced and in-depth SEO Training</li>

                <li>Social Media marketing and promotion</li>

                <li>
                  PPC Training (Learn Practically Google adwords campaigns)
                </li>

                <li>Online reputation management training</li>
                <li>Email Marketing</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-box color-secondary-style edublink-svg-animate">
            <div class="icon">
              <img
                src="assets/images/svg-icons/h-8-shape-35.svg"
                alt="images svg"
              />
            </div>
            <div class="content">
              <h5 class="title">Purpose of Our Corporate Training Program:</h5>

              <h6 class="title">Whom is it meant for ? </h6>
              <p style="text-align: justify">
                This specially designed digital marketing corporate training
                program is meant for company executives and any staff who is
                interested in learning digital marketing. It includes small and
                large business employees as well. Many a times, working
                professionals are not able to take time off for such training
                programs, owing to their work related and personal commitments.
                Although, they have the desire to learn or owing to their
                business needs, they need to undergo training. Keeping this in
                mind, we at Digital Trainee have designed this custom training
                program in digital marketing, where our trainers would come to
                your campus, to train you.
              </p>
              <h6 class="title">What can the participant’s learn? </h6>
              <p style="text-align: justify">
                Corporate participants of this program get a chance to enhance
                core business aptitudes and abilities in different functional
                areas; this would empower them to deal with issues including
                inter-functional areas. Experienced trainers of Digital Trainee
                will guide you in this. Participants undergo activities like
                case studies, role-plays, discussions and practical
                implementation during the course of the training program.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-box color-extra06-style edublink-svg-animate">
            <div class="icon">
              <img
                src="assets/images/svg-icons/h-8-shape-36.svg"
                alt="images svg"
              />
            </div>
            <div class="content">
              <h5 class="title">Our Corporate Training Program Highlights:</h5>
              <ul style="text-align: justify">
                <li>
                  Practical training on tools and execution of Digital Marketing
                  strategy plans.
                </li>

                <li>
                  Course study material is made available to the participants in
                  soft copy format, after the successful completion of the
                  program.
                </li>

                <li>
                  Through the Training program, members are urged to ask
                  whatever number of doubts as would be prudent from their end
                  to guarantee most noteworthy engagement, communication, Q&A
                  exchange all through the program by the trainer.
                </li>

                <li>
                  Test cases where the Trainer makes test industry based
                  situations and members share their reactions, inputs, feedback
                  and develop digital marketing campaigns practically amid the
                  training program and get their feedback on the same from the
                  trainer to guarantee a high state of retention.
                </li>

                <li>
                  Continued support to the participants even after the training
                  is over.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Testimonial Area  -->

  <section class="testimonial-area-6 gap-bottom-equal">
    <div class="container edublink-animated-shape">
      <div class="section-title section-center">
        <span class="pre-title"></span>
        <h2 class="title">Gallery</h2>
        <span class="shape-line"><i class="icon-19"></i></span>
      </div>
      <div class="row row--40">
        <div class="col-lg-6">
          <div class="section-title section-left">
            <span class="pre-title"></span>
            <h4 class="title"></h4>
          </div>
          <div class="testimonial-activation-5 swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="testimonial-slide testimonial-style-3">
                  <div class="content">
                    <p></p>
                    <div class="author-info">
                      <!-- <div class="thumb">
                      <img
                        src="assets/images/testimonial/testimonial-01.png"
                        alt="Testimonial"
                      />
                    </div> -->
                      <div class="info">
                        <h5 class="title">
                          Need for corporate digital marketing training?

                          <div class="rating-icon">
                            <i class="icon-23"></i>
                            <i class="icon-23"></i>
                            <i class="icon-23"></i>
                            <i class="icon-23"></i>
                            <i class="icon-23"></i>
                          </div>
                        </h5>
                        <span class="subtitle"
                          >After pandemic, every company has changed its growth
                          planning from survival stage to sustainable stage.
                          Every company now a days looking for highly skilled
                          employees who can give them massive growth in terms of
                          digital marketing. But hiring an expertise from other
                          domain and investing on their domain training is not
                          everybody's cup of tea. So to overcome this challenge,
                          We at digital trainee makes your team more competitive
                          in terms of digital marketing.</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="video-gallery video-gallery-5">
            <div class="thumbnail">
              <img src="assets/images/others/video-03.webp" alt="Thumb" />
            </div>
          </div>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-2 scene">
          <img
            data-depth="2"
            src="assets/images/about/shape-25.png"
            alt="Shape"
          />
        </li>
        <li class="shape-3 scene">
          <span data-depth="-1"></span>
        </li>
      </ul>
    </div>
    <ul class="shape-group">
      <li class="shape-1">
        <img
          class="rotateit"
          src="assets/images/about/shape-13.png"
          alt="Shape"
        />
      </li>
    </ul>
  </section>
  <div class="edu-about-area about-style-3 language-about">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="video-gallery video-gallery-5">
            <div class="thumbnail">
              <img src="assets/images/others/video-03.webp" alt="Thumb" />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-title section-left">
              <h2 class="title">What you will get?</h2>
              <span class="shape-line"><i class="icon-19"></i></span>
            </div>

            <div class="testimonial-activation-5 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-slide testimonial-style-3">
                    <div class="content">
                      <div class="author-info">
                        <div class="info">
                          <p>
                            Industry expert trainers. On premises and Online
                            options available. Customised syllabus as per
                            company needs. Case Studies from the same industry.
                            Real time activities for companies growth. Free
                            consultation from trainers. Growth strategy creation
                            and implementation for the company.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Categories Area  -->
</div>
