<div id="main-wrapper" class="main-wrapper">
    <!--=====================================-->
    <!--=       Hero Banner Area Start      =-->
    <!--=====================================-->
    <div class="hero-banner hero-style-2 bg-image">
      <div class="container">
        <div class="row row--45 align-items-center">
          <div class="col-lg-6">
            <div class="banner-content">
              <h1 class="title">
                Why Choose <br />
                <span class="color-secondary">Digital Marketing </span> course
                With Us ?
              </h1>
              <p>
                Digital Trainee provides you with a number of benefits like
                flexible course timings, 100% job support, etc. Not only this, we
                train you in a manner that when you walk out you will become
                industry-ready. We ensure your overall development as well. You
                can learn the A-Z of Digital Marketing at Digital Trainee.
              </p>
              <div class="banner-btn">
                <a href="#" class="edu-btn"
                  >Find courses <i class="icon-4"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-gallery">
              <div class="thumbnail thumbnail-1">
                <img src="assets/images/banner/girl-2.webp" alt="Girl Image" />
              </div>
              <div class="thumbnail thumbnail-2">
                <img src="assets/images/banner/man-1.webp" alt="Girl Image" />
              </div>
              <div class="online-support">
                <div class="inner">
                  <div class="icon">
                    <i class="icon-29"></i>
                  </div>
                  <div class="content">
                    <span class="subtitle">Online Support </span>
                    <h4 class="title">
                      <a href="tel:+0123456789">+012 (345) 6789</a>
                    </h4>
                  </div>
                </div>
              </div>
              <ul class="shape-group">
                <li class="shape-1 scene shape-light">
                  <img
                    data-depth="2"
                    src="assets/images/faq/shape-13.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-1 scene shape-dark">
                  <img
                    data-depth="2"
                    src="assets/images/faq/dark-shape-13.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-2 scene">
                  <img
                    data-depth="-2"
                    src="assets/images/faq/shape-12.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-3 scene shape-light">
                  <img
                    data-depth="2"
                    src="assets/images/faq/shape-09.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-3 scene shape-dark">
                  <img
                    data-depth="2"
                    src="assets/images/faq/dark-shape-09.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-4 scene">
                  <img
                    data-depth="-2"
                    src="assets/images/cta/shape-04.png"
                    alt="Shape"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!--=====================================-->
    <!--=       Category Area Start      	=-->
    <!--=====================================-->
    <!-- Start Categories Area  -->
    <div class="edu-categorie-area categorie-area-1 edu-section-gap">
      <div class="container">
        <div class="section-title section-center">
          <span class="pre-title pre-textsecondary">
            Why Choose Us</span>
          <h2 class="title">
            Why Choose 
            <span class="color-primary">Digital Marketing</span>  Course With Us ? 
          </h2>
          <span class="shape-line"><i class="icon-19"></i></span>
          <p>Digital Trainee provides you with a number of benefits like flexible course timings, 100% job support, etc. Not only this, we train you in a manner that when you walk out you will become industry-ready. We ensure your overall development as well. You can learn the A-Z of Digital Marketing at Digital Trainee.</p>
        </div>
        <div class="row g-5">
          <div class="col-lg-3 col-sm-6">
            <div
              class="categorie-grid categorie-style-1 color-primary-style edublink-svg-animate"
            >
              <div class="content">
                <a href="course-one.html">
                  <h5 class="title">Learn Practically From Industry Experts</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="categorie-grid categorie-style-1 color-secondary-style edublink-svg-animate"
            >
              <div class="content">
                <a href="course-one.html">
                  <h5 class="title">Q & A Session After Training</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="categorie-grid categorie-style-1 color-extra08-style edublink-svg-animate"
            >
              <div class="content">
                <a href="course-one.html">
                  <h5 class="title">Daily 1 Free Demo Sessions</h5>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div
              class="categorie-grid categorie-style-1 color-extra05-style edublink-svg-animate"
            >
              <div class="content">
                <a href="course-one.html">
                  <h5 class="title">Free Life Time Learning Access</h5>
                </a>
                <!-- <p>Lorem ipsum dolor consec tur elit adicing sed umod tempor.</p>
                <div class="course-remain">8 Courses</div> -->
              </div>
            </div>
          </div>
          <div class="row g-5">
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-primary-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">100% Job Assistance</h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-secondary-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">Interview Preparation</h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-extra08-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">
                      No Registration Fees and Examination Fees
                    </h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-extra05-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">
                      100% Practical Training with Project Assignment (Research)
                      Work
                    </h5>
                  </a>
                  <!-- <p>Lorem ipsum dolor consec tur elit adicing sed umod tempor.</p>
                  <div class="course-remain">8 Courses</div> -->
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-primary-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">
                      Google Certification: Get an Industry recognized certificate
                      from Google
                    </h5>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6">
              <div
                class="categorie-grid categorie-style-1 color-secondary-style edublink-svg-animate"
              >
                <div class="content">
                  <a href="course-one.html">
                    <h5 class="title">
                      Weekdays & Weekend Batches Convenient time for working Professionals
                    </h5>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Categories Area  -->
    <div class="edu-course-area course-area-2 gap-tb-text bg-lighten03">
      <div class="container">
        <div class="section-title section-center">
          <span class="pre-title">About Digital Trainee </span>
          <h2 class="title">Digital Marketing Courses In Pune - About Digital Trainee</h2>
          <span class="shape-line"><i class="icon-19"></i></span>
          <p>Digital Trainee provides you with a number of benefits like flexible course timings, 100% job support etc. Not only this, we train you in a manner that when you walk out you will become industry ready. We ensure your overall development as well. You can learn the A-Z of Digital Marketing at Digital Trainee.
  
            Being a training division of Digitize Brand, which happens to be a Digital Marketing company, who better than us to train you in this field?</p>
        </div>
       
       
      </div>
    </div>
    <!-- End Course Area -->
    <!--=====================================-->
    <!--=       Video Area Start      		=-->
    <!--=====================================-->
    <div class="video-area-1">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-7">
            <div class="video-gallery">
              <div class="thumbnail">
                <img src="assets/images/others/video-01.webp" alt="Thumb" />
                <a
                  href="https://www.youtube.com/watch?v=nNXHvHRIIns"
                  class="video-play-btn video-popup-activation"
                >
                  <i class="icon-18"></i>
                </a>
              </div>
              <ul class="shape-group">
                <li class="shape-1 scene">
                  <img
                    data-depth="2"
                    class="rotateit"
                    src="assets/images/about/shape-37.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-2 scene">
                  <img
                    data-depth="-2"
                    src="assets/images/faq/shape-04.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-3 scene shape-light">
                  <img
                    data-depth="2"
                    src="assets/images/faq/shape-14.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-3 scene shape-dark">
                  <img
                    data-depth="2"
                    src="assets/images/faq/dark-shape-14.png"
                    alt="Shape"
                  />
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="about-content">
              <div class="section-title section-left">
                <span class="pre-title">About Us</span>
               
                <span class="shape-line"><i class="icon-19"></i></span>
                       </div>
              <ul class="features-list">What you Learn?
                <li>Digital Marketing Overview</li>
                <li> Search Engine Optimization</li>
                <li>Intro to Webmaster Tool</li>
                <li>Content Marketing</li>
                <li>Local SEO</li>
                <li>App Store Optimization</li>
                <li> Website planning on Wordpress</li>
                <li>Search Engine Marketing</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--=====================================-->
    
  </div>
  
  
  