
<div class="edu-breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Reviews and Testimonials</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="#">Courses</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Reviews and Testimonials</li>
            </ul>
        </div>
    </div>
    <ul class="shape-group">
        <li class="shape-1">
            <span></span>
        </li>
        <li class="shape-2 scene"><img data-depth="2"
                src="assets/images/about/shape-13.png" alt="shape"></li>
        <li class="shape-3 scene"><img data-depth="-2"
                src="assets/images/about/shape-15.png" alt="shape"></li>
        <li class="shape-4">
            <span></span>
        </li>
        <li class="shape-5 scene"><img data-depth="2"
                src="assets/images/about/shape-07.png" alt="shape"></li>
    </ul>
</div>

<!--=====================================-->
<!--=        Courses Area Start         =-->
<!--=====================================-->
<div class="edu-course-area course-area-1 gap-tb-text">
    <div class="container">

       

        <div class="row g-5">
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/cHzLxqXSuAk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"  src="https://www.youtube.com/embed/8NSym7_nqNU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/A5c6EqCBhg0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/Y-BxJK0FgOg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"  src="https://www.youtube.com/embed/jY2Xi83fG-Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"  src="https://www.youtube.com/embed/uDbIyeiLru4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"  src="https://www.youtube.com/embed/qGoVTl5O9L8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          
                        </div>
                     
                    </div>
               
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" >
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/Xf0Kx7s78DE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                             
                        </div>
                    
                    </div>
                  
                   
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/S44OwCUkCuY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                             
                        </div>
                       
                    </div>
                    
                   
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" >
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/z8yymWvqGJA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                             
                        </div>
                     
                    </div>
                   
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/fbadGopWoTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                           
                        </div>
                        
                    </div>
              
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/Z5t0cH9MuqE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            
                        </div>
                        
                    </div>
                   
                    
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/vC6F23IYfEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                        
                    </div>
                  
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/RdkTcJCyYAw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                       
                    </div>
                   
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3">
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270" src="https://www.youtube.com/embed/MyfZMYvQA9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          
                        </div>
                       
                    </div>
                   
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" >
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"src="https://www.youtube.com/embed/b8QRXlmD2d0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        </div>
                       
                    </div>
               
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3" >
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            <iframe width="270"  src="https://www.youtube.com/embed/NOTfqm18kNo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                           
                        </div>
                       
                    </div>
                    
                </div>
            </div>
            <!-- End Single Course  -->
            <!-- Start Single Course  -->
            <div class="col-md-6 col-lg-4 col-xl-3"  >
                <div
                    class="edu-course course-style-1 course-box-shadow hover-button-bg-white">
                    <div class="inner">
                        <div class="thumbnail">
                            
                                <iframe width="270"  src="https://www.youtube.com/embed/aDcV_I1Yd5E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                          
                       
                    </div>
                  
                   
                </div>
            </div>
            <!-- End Single Course  -->
        </div>
        <div class="load-more-btn" >
            <a href="#" class="edu-btn">Load More <i
                    class="icon-56"></i></a>
        </div>
    </div>
</div>