<!--=====================================-->
<!--=       Breadcrumb Area Start      	=-->
<!--=====================================-->

<!--=====================================-->
<!--=       About Us Area Start      	=-->
<!--=====================================-->
<div class="edu-section-gap edu-about-area about-style-8">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-6">
        <div class="about-content">
          <div class="section-title section-left">
            <span class="pre-title">Our Mission & Vision</span>
            <h2 class="title">
              We Provide Best
              <span class="color-secondary"> Digital Marketing </span> Services
              For You.
            </h2>
            <span class="shape-line"><i class="icon-19"></i></span>
            <h4 class="title">Our Motive</h4>
            <p>
              The motive behind starting Digital Trainee - A digital marketing
              training division of Digitize Brand, is to train potential
              individuals and shape them into digital marketing professionals.
              We take Real Initiative to make True “Digital India” The field of
              digital marketing is, and is going to be the future, and we feel
              that individuals have a good chance of making it big. The only
              thing they require is the will to succeed and the desired skills.
              We at Digital Trainee would take care of the skills part through
              our training and also try to inculcate the seeds of success in
              them. With all this in mind, we formed the Digital Trainee in
              2016, in Pune, India.
            </p>
          </div>
          <div class="about-mission">
            <div class="single-item">
              <!-- <div class="icon color-extra02"><i class="icon-51"></i></div> -->
              <div class="content">
                <h4 class="title">Our Dream</h4>
                <p>
                  We at Digital Trainee dream of nurturing quality digital
                  marketing professionals who can contribute and excel in this
                  field. Digital Trainee would be glad to contribute in their
                  own small way by providing the desired training to them. We
                  also provide certifications to our candidates. This makes them
                  stand apart from the crowd. After all, certifications are a
                  way of self marketing. They speak for a thousand words.
                  Remember that we are in the field of digital marketing!
                </p>
              </div>
            </div>
            <!-- <div class="single-item">
              <div class="icon color-extra06"><i class="icon-52"></i></div>
              <div class="content">
                <h4 class="title">Our Vision</h4>
                <p>
                  We aim to be at the forefront of innovation, constantly
                  evolving to stay ahead of industry trends and technologies.
                </p>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-image-gallery">
          <div class="row g-5" id="masonry-gallery">
            <div class="col-6 masonry-item">
              <div class="thumbnail thumbnail-1">
                <img
                  src="assets/images/about/about-13.webp"
                  alt="About Images"
                />
              </div>
            </div>
            <div class="col-6 masonry-item">
              <div class="thumbnail thumbnail-2">
                <img
                  src="assets/images/about/about-14.webp"
                  alt="About Images"
                />
              </div>
            </div>
            <div class="col-6 masonry-item">
              <div class="thumbnail thumbnail-3">
                <img
                  src="assets/images/about/about-16.webp"
                  alt="About Images"
                />
              </div>
            </div>
            <div class="col-6 masonry-item">
              <div class="thumbnail thumbnail-4">
                <img
                  src="assets/images/about/about-15.webp"
                  alt="About Images"
                />
              </div>
            </div>
          </div>
          <ul class="shape-group">
            <li class="shape-1 scene">
              <img
                data-depth="2"
                src="assets/images/about/shape-33.png"
                alt="Shape Images"
              />
            </li>
            <li class="shape-2 scene">
              <img
                data-depth="-2"
                src="assets/images/about/shape-25.png"
                alt="Shape Images"
              />
            </li>
            <li class="shape-3 scene">
              <img
                data-depth="-2"
                src="assets/images/about/shape-13.png"
                alt="Shape Images"
              />
            </li>
            <li class="shape-4 scene">
              <span data-depth=".8"></span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=====================================-->
<!--=       CounterUp Area Start        =-->
<!--=====================================-->
<div class="counterup-area-9">
  <div class="container edublink-animated-shape">
    <div class="row g-5">
      <div class="col-lg-3 col-sm-6">
        <div class="edu-counterup counterup-style-4">
          <div class="icon primary-color">
            <i class="icon-48"></i>
          </div>
          <h2 class="counter-item count-number">
            <span class="odometer" data-odometer-final="29.3">.</span
            ><span>K</span>
          </h2>
          <h6 class="title">Student Enrolled</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="edu-counterup counterup-style-4">
          <div class="icon secondary-color">
            <i class="icon-47"></i>
          </div>
          <h2 class="counter-item count-number">
            <span class="odometer" data-odometer-final="32.4">.</span
            ><span>K</span>
          </h2>
          <h6 class="title">Class Completed</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="edu-counterup counterup-style-4">
          <div class="icon extra08-color">
            <i class="icon-49"></i>
          </div>
          <h2 class="counter-item count-number">
            <span class="odometer" data-odometer-final="100">.</span
            ><span>%</span>
          </h2>
          <h6 class="title">Satisfaction Rate</h6>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="edu-counterup counterup-style-4">
          <div class="icon extra05-color">
            <i class="icon-50"></i>
          </div>
          <h2 class="counter-item count-number">
            <span class="odometer" data-odometer-final="354">.</span
            ><span>+</span>
          </h2>
          <h6 class="title">Top Instructors</h6>
        </div>
      </div>
    </div>

    <ul class="shape-group">
      <li class="shape-1 scene">
        <img
          data-depth="-1.8"
          src="assets/images/others/shape-27.png"
          alt="Shape Images"
        />
      </li>
    </ul>
  </div>
</div>
<!--=====================================-->
<!--=       Why Choose Area Start       =-->
<!--=====================================-->

<!--=====================================-->
<!--=       	CTA Area Start      	=-->
<!--=====================================-->

<!-- End CTA Area  -->
<!--=====================================-->
<!--=       	Team Area Start       	=-->
<!--=====================================-->
<!-- Start Team Area  -->
<div class="edu-team-area team-area-3 edu-section-gap z-10">
  <div class="container">
    <div class="section-title section-center">
      <span class="pre-title">Instructors</span>
      <h2 class="title">Course Instructors</h2>
      <span class="shape-line"><i class="icon-19"></i></span>
    </div>
    <div class="row g-5">
      <!-- Start Instructor Grid  -->
      <div class="col-lg-4 col-md-6">
        <div class="edu-team-grid team-style-3">
          <div class="inner">
            <div class="thumbnail-wrap">
              <div class="thumbnail">
                <a href="team-details.html">
                  <img
                    src="assets/images/team/team-05.webp"
                    alt="team images"
                  />
                </a>
              </div>
              <ul class="team-share-info">
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                </li>
              </ul>
            </div>
            <div class="content">
              <h5 class="title">
                <a href="team-details.html">Jane Seymour</a>
              </h5>
              <span class="designation">UI Designer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Instructor Grid  -->
      <!-- Start Instructor Grid  -->
      <div class="col-lg-4 col-md-6">
        <div class="edu-team-grid team-style-3">
          <div class="inner">
            <div class="thumbnail-wrap">
              <div class="thumbnail">
                <a href="team-details.html">
                  <img
                    src="assets/images/team/team-06.webp"
                    alt="team images"
                  />
                </a>
              </div>
              <ul class="team-share-info">
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                </li>
              </ul>
            </div>
            <div class="content">
              <h5 class="title">
                <a href="team-details.html">Edward Norton</a>
              </h5>
              <span class="designation">Web Developer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Instructor Grid  -->
      <!-- Start Instructor Grid  -->
      <div class="col-lg-4 col-md-6">
        <div class="edu-team-grid team-style-3">
          <div class="inner">
            <div class="thumbnail-wrap">
              <div class="thumbnail">
                <a href="team-details.html">
                  <img
                    src="assets/images/team/team-08.webp"
                    alt="team images"
                  />
                </a>
              </div>
              <ul class="team-share-info">
                <li>
                  <a href="#"><i class="icon-facebook"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="icon-linkedin2"></i></a>
                </li>
              </ul>
            </div>
            <div class="content">
              <h5 class="title">
                <a href="team-details.html">Penelope Cruz</a>
              </h5>
              <span class="designation">Digital Marketer</span>
            </div>
          </div>
        </div>
      </div>
      <!-- End Instructor Grid  -->
    </div>
  </div>
</div>
<!-- End Team Area  -->
<!--=====================================-->
<!--=       Testimonial Area Start       =-->
<!--=====================================-->
<!-- Start Testimonial Area  -->
<section class="testimonial-area-6 gap-bottom-equal">
  <div class="container edublink-animated-shape">
    <div class="row row--40">
      <div class="col-lg-6">
        <div class="section-title section-left">
          <span class="pre-title">About Us</span>
          <h2 class="title">Who Are We ?</h2>
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="testimonial-activation-5 swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-slide testimonial-style-3">
                <div class="content">
                  <p>
                    As Digital Trainee, we boast of being the 1st Practical
                    Digital Marketing Training Institute in Pune, India. Digital
                    Trainee came into existence in the year 2016.Digital Trainee
                    is your stepping stone for an illustrious career in the
                    field of Digital Marketing. We help in building careers in
                    the field of Digital Marketing with the help of our
                    intensive and practical oriented training programme. All you
                    need to bring with you is the will to learn and succeed.
                    Rest of the things would be taken care of by Digital Trainee
                    Our practical approach helps to bridge the gap between
                    theoretical knowledge and the skills required to work in the
                    corporate world. Digital Trainee is your stepping stone for
                    a promising and illustrious career in the Digital Marketing
                    domain. Our main forte is Digital Marketing training. Apart
                    from that, we also conduct designing training etc. The
                    details of which we will be seeing eventually. “Enough with
                    Theory, Time to do hands-on practical. Join us now !” This
                    is what we would advice you, as having just theory knowledge
                    simply does not work in today's scenario.
                  </p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-slide testimonial-style-3">
                <div class="content">
                  <div class="rating-icon">
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                  </div>
                  <p>
                    “Lorem ipsum dolor amet consectur elit adicing elit sed do
                    umod tempor ux incididunt enim ad minim veniam quis sit
                    nosrud citation laboris nisiste aliquip comodo perspiatix
                    une omnis iste natus error sit voluptatem accusantium dolore
                    que laudantum”.
                  </p>
                  <div class="author-info">
                    <div class="thumb">
                      <img
                        src="assets/images/testimonial/testimonial-02.png"
                        alt="Testimonial"
                      />
                    </div>
                    <div class="info">
                      <h5 class="title">Richard Gere</h5>
                      <span class="subtitle">Designer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="testimonial-slide testimonial-style-3">
                <div class="content">
                  <div class="rating-icon">
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                    <i class="icon-23"></i>
                  </div>
                  <p>
                    “Lorem ipsum dolor amet consectur elit adicing elit sed do
                    umod tempor ux incididunt enim ad minim veniam quis sit
                    nosrud citation laboris nisiste aliquip comodo perspiatix
                    une omnis iste natus error sit voluptatem accusantium dolore
                    que laudantum”.
                  </p>
                  <div class="author-info">
                    <div class="thumb">
                      <img
                        src="assets/images/testimonial/testimonial-03.png"
                        alt="Testimonial"
                      />
                    </div>
                    <div class="info">
                      <h5 class="title">Megan Foxx</h5>
                      <span class="subtitle">Designer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="video-gallery video-gallery-5">
          <div class="thumbnail">
            <img src="assets/images/others/video-03.webp" alt="Thumb" />
            <a
              href="https://www.youtube.com/watch?v=PICj5tr9hcc"
              class="video-play-btn video-popup-activation"
            >
              <i class="icon-18"></i>
            </a>
          </div>
          <div class="content">
            <h4 class="title">Take a Video Tour to Learn Intro of Campus</h4>
          </div>
        </div>
      </div>
    </div>
    <ul class="shape-group">
      <li class="shape-2 scene">
        <img
          data-depth="2"
          src="assets/images/about/shape-25.png"
          alt="Shape"
        />
      </li>
      <li class="shape-3 scene">
        <span data-depth="-1"></span>
      </li>
    </ul>
  </div>
  <ul class="shape-group">
    <li class="shape-1">
      <img
        class="rotateit"
        src="assets/images/about/shape-13.png"
        alt="Shape"
      />
    </li>
  </ul>
</section>
<!-- End Testimonial Area  -->
<!--=====================================-->
<!--=       Breadcrumb Area Start      =-->
<!--=====================================-->

<!--=====================================-->
<!--=        Event Area Start         =-->
<!--=====================================-->

<section class="event-details-area edu-section-gap">
  <div class="container">
    <div class="event-details">
      <div class="main-thumbnail">
        <img src="assets/images/event/event-21.jpg" alt="Event" />
      </div>
      <div class="row row--30">
        <div class="col-lg-8">
          <div class="details-content">
            <h3>Who Are We ?</h3>
            <p>
              As Digital Trainee, we boast of being the 1st Practical Digital
              Marketing Training Institute in Pune, India. Digital Trainee came
              into existence in the year 2016.Digital Trainee is your stepping
              stone for an illustrious career in the field of Digital Marketing.
              We help in building careers in the field of Digital Marketing with
              the help of our intensive and practical oriented training
              programme. All you need to bring with you is the will to learn and
              succeed. Rest of the things would be taken care of by Digital
              Trainee Our practical approach helps to bridge the gap between
              theoretical knowledge and the skills required to work in the
              corporate world. Digital Trainee is your stepping stone for a
              promising and illustrious career in the Digital Marketing domain.
              Our main forte is Digital Marketing training. Apart from that, we
              also conduct designing training etc. The details of which we will
              be seeing eventually. “Enough with Theory, Time to do hands-on
              practical. Join us now !” This is what we would advice you, as
              having just theory knowledge simply does not work in today's
              scenario.
            </p>
            <h3>What We Offer ?</h3>
            <p>
              Courses Offered: At Digital Trainee, we have specially designed
              the below mentioned digital marketing training programs keeping in
              mind the requirements of the industry. These practical oriented
              courses will serve as a bridge between the theoretical knowledge
              and its industrial application. These training programs are also
              useful in case you decide to form a start-up of your own going
              ahead. Digital Trainee has designed specialized training course
              for Digital Marketing
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="course-sidebar-3">
            <div class="edu-course-widget widget-course-summery">
              <div class="inner">
                <div class="content">
                  <h4 class="widget-title">Event Info</h4>
                  <ul class="course-item">
                    <li>
                      <span class="label"><i class="icon-60"></i>Cost:</span>
                      <span class="value price">$70.00</span>
                    </li>
                    <li>
                      <span class="label"
                        ><i class="icon-70"></i>Total Slot:</span
                      >
                      <span class="value">30</span>
                    </li>
                    <li>
                      <span class="label"
                        ><i class="icon-68"></i>Booked Slot:</span
                      >
                      <span class="value">2</span>
                    </li>
                  </ul>
                  <div class="read-more-btn">
                    <a href="#" class="edu-btn"
                      >Book Now <i class="icon-4"></i
                    ></a>
                  </div>
                  <div class="countdown"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="edu-breadcrumb-area breadcrumb-style-4">
  <div class="container">
    <div class="breadcrumb-inner">
      <div class="page-title">
        <span class="pre-title">DEVELOPER</span>
        <h1 class="title">Global Education Fall Meeting for Everyone</h1>
      </div>
      <ul class="course-meta">
        <li><i class="icon-27"></i>Oct 10, 2023</li>
        <li><i class="icon-33"></i>08:00AM-10:00PM</li>
        <li><i class="icon-40"></i>Newyork City, USA</li>
      </ul>
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-1">
      <span></span>
    </li>
    <li class="shape-2 scene">
      <img data-depth="2" src="assets/images/about/shape-13.png" alt="shape" />
    </li>
    <li class="shape-3 scene">
      <img data-depth="-2" src="assets/images/about/shape-15.png" alt="shape" />
    </li>
    <li class="shape-4">
      <span></span>
    </li>
    <li class="shape-5 scene">
      <img data-depth="2" src="assets/images/about/shape-07.png" alt="shape" />
    </li>
  </ul>
</div>
<div class="section-gap-large edu-about-area about-style-7">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-5">
        <div class="about-content">
          <div class="section-title section-left">
            <span class="pre-title">About Us</span>
            <h2 class="title">
              <span class="color-secondary">Best Quality</span> Digital
              Marketing Training Program :
            </h2>
            <span class="shape-line"><i class="icon-19"></i></span>
            <p>
              The Digital Marketing training programme at Digital Trainee is
              designed by experts keeping an eye on the needs of the industry.
              The course syllabus is such that by the end of it, trainees would
              be ready to work in real-time environment and projects. On the
              other hand, they can even start their own business or work as a
              freelancer ! Our practical Digital Marketing training covers SEO,
              SMO/SMM, SEM, Marketing, Online Reputation Management, Affiliate
              Marketing, Google Adsense etc. This course can be broadly divided
              into the following four sections: Digital Marketing training
              Program Advanced SEO training Program SMO/SMM training Program SEM
              (PPC) training Program You would be awarded with a certificate
              post the successful completion of this course. We also assist you
              for a Google Certification!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="about-image-gallery">
          <img
            class="main-img-1"
            src="assets/images/about/about-11.webp"
            alt="About Image"
          />
          <img
            class="main-img-2"
            src="assets/images/about/about-12.webp"
            alt="About Image"
          />
          <ul class="shape-group">
            <li
              class="shape-1 scene"
              data-sal-delay="500"
              data-sal="fade"
              data-sal-duration="200"
            >
              <img
                data-depth="2"
                src="assets/images/about/shape-38.png"
                alt="Shape"
              />
            </li>
            <li class="shape-2 scene">
              <img
                data-depth="-2"
                src="assets/images/about/shape-37.png"
                alt="Shape"
              />
            </li>
            <li class="shape-3 scene">
              <img
                data-depth="-1.8"
                src="assets/images/about/shape-04.png"
                alt="Shape"
              />
            </li>
            <li class="shape-4 scene">
              <img src="assets/images/counterup/shape-02.png" alt="Shape" />
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="about-counterup gap-top-equal">
 
  <div class="edu-about-area about-style-3 remote-training-about">
    <div class="container">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
          <div class="about-course">
            <div class="about-course-wrap">
              <div
                class="about-course-box about-course-style-2 edublink-svg-animate"
              >
                <div class="content">
                  <h5 class="title">
                    <span>Digital Trainee's Team of Trainers/Faculty : </span>
                  </h5>
                  <p>
                    We have on board, industry experienced and expert faculty/trainer team to train you. They bring along their years of domain experience and knowledge to train you and inculcate the desired skills in you. Can you miss on such an opportunity to get trained from the industry heavyweights? We believe, no.
                    Faculty/Trainers at Digital Trainee:
                  </p>
                </div>
              </div>
            </div>
            <div class="about-course-wrap">
              <div
                class="about-course-box about-course-style-2 edublink-svg-animate remote-course"
              >
                <div class="content">
                  <p>
                    We have trainers having expertize in digital marketing. They possess industry experience which brings on a great value addition as they train you. Our experience faculty shares with you the nuances of working in an industry along with the regular training part. Our trainers make sure that each and every individual has understood the concepts to the core. The training sessions are therefore interaction based.
                  </p>
                </div>
              </div>
            </div>
            <div class="about-course-wrap">
              <div
                class="about-course-box about-course-style-2 edublink-svg-animate"
              >
                <div class="content">
                  <p>
                    On the faculty/trainers front, one would find such a combination very rarely.
                    Practices at Digital Trainee:
                    Provide quality training.
                    Providing training for desired skill development and overall growth of an individuals.
                    Maintaining cordial and supportive relationships.
                    Identifying the potential in each individual and help them use it.
                    Maintaining a professional environmental industry.
                    Building trust and functioning with honesty and fairness.
                  </p>
                </div>
              </div>
            </div>
          
          </div>
        </div>
        <div class="col-lg-6">
          <div class="about-content">
            <div class="section-title section-left">
              <span class="pre-title">About Us</span>
              <h2 class="title">
                
                 Where Do We Differ From Others ?
              </h2>
              <span class="shape-line"><i class="icon-19"></i></span>
              <p>
                Why choose us? Well, the answer to this question is pretty
                simple... Being at Digital Trainee, you would get the following
                benefits: We provide you with multiple benefits such as 100% job
                support, flexible course timings etc. You would be getting life
                time learning support from us. Updated course/study material is
                provided to the trainees. Get a guaranteed internship. Hands-on
                training with the help of projects and assignments. We conduct
                resume building and representing sessions for our students. Just
                15 candidates in one batch ensures personal attention. Get a
                chance to work on live projects. We are an ISO 9001:2015
                Certified Training Institute. Learn 100+ advanced tools!. Lowest
                possible fees. Flexibility in terms of batch timings and days.
                Weekend batches also available. A chance to learn Digital
                Marketing from industry experts having 6+ years experience in
                Digital Marketing. Whole day practice facility. Develop a
                website on your own by the end of the training. Affordable and
                lowest possible fees. With so many benefits on offer, there is
                no reason why you would not choose us. Why join us? Digital
                Trainee would provide you with top notch digital marketing
                training combined with its practical application. You will walk
                out as not only a searched after professional, but also a
                transformed individual with overall development in your persona!
                Rest all is already mentioned above. If all this does not make
                you join us, then nothing can.Get trained at Digital Trainee and
                be the most sorted after digital marketing professional, as
                career opportunities will chase you!Enroll Now For Best Digital
                Marketing Course ! Do visit the Digital Trainee website for
                latest Digital Marketing updates and career opportunities.
              </p>
            </div>
            <ul class="features-list">
              <li>Expert Trainers</li>
              <li>Online Remote Learning</li>
              <li>Lifetime Access</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Course Area  -->

  <!-- End Course Area -->
</div>
<section class="event-details-area edu-section-gap">
  <div class="container">
    
    <div class="event-details">
      <div class="page-title">
        <span class="pre-title">ABOUT US</span>
        <h1 class="title">Free Education At Digital Trainee For Children Of The Martyrs Families</h1>
      </div>
      <div class="main-thumbnail">
        <img src="https://digitaltrainee.com/images/post_offer.webp" alt="Event" />
      </div>
    
    </div>
  </div>
</section>