<div id="main-wrapper" class="main-wrapper">
    <!--=====================================-->
    <!--=       Hero Banner Area Start      =-->
    <!--=====================================-->
    <div class="hero-banner hero-style-10">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="banner-content">
              <h1 class="title">
                <span class="color-secondary"> Digital Marketing </span>Training
                Institute in Mumbai
              </h1>
              <p>"#SayNoToTheory Learn It By Doing It"</p>
              <ul class="features-list">
                <li>India's 1st Practical Implementation Training Institute</li>
                <li>
                  "Don't Just Learn Digital Marketing" Implement And Master It.
                </li>
                <li>
                  Learn Practical Digital Marketing Courses in Mumbai With Online
                  And Offline Batches Join Our Free Demo Today!
                </li>
                <li>
                  Course Specially Designed For Job Seekers | Business Owners |
                  Housewives | Freelancers
                </li>
                <li>100% Practical Implementation</li>
                <li>Project Assignments Based Training</li>
              </ul>
              <div class="banner-btn">
                <a href="#" class="edu-btn"
                  >Find courses <i class="icon-4"></i
                ></a>
              </div>
  
              <ul class="shape-group">
                <li class="shape-1">
                  <span></span>
                </li>
                <li class="shape-2 scene">
                  <span data-depth="2.5"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="banner-thumbnail">
              <div class="thumbnail">
                <img
                  src="assets/images/banner/flag-boy.webp"
                  alt="flag-boy Image"
                />
              </div>
              <div class="instructor-info">
                <div class="inner">
                  <div class="enrolled-counter">
                    <div class="counterup-wrapper">
                      <h2 class="counter-item count-number primary-color">
                        <span class="odometer" data-odometer-final="9.3">.</span
                        ><span class="count-wrap">K</span>
                      </h2>
                      <h6 class="title">Enrolled</h6>
                    </div>
                  </div>
                  <div class="lahguage-counter">
                    <div class="counterup-wrapper">
                      <h2 class="counter-item count-number secondary-color">
                        <span class="odometer" data-odometer-final="20">.</span
                        ><span class="count-wrap">+</span>
                      </h2>
                      <h6 class="title">Languages</h6>
                    </div>
                  </div>
                </div>
              </div>
              <ul class="shape-group">
                <li class="shape-3">
                  <img src="assets/images/about/shape-15.png" alt="Shape" />
                </li>
                <li class="shape-4 scene">
                  <img
                    data-depth="-1.5"
                    src="assets/images/counterup/shape-05.png"
                    alt="Shape"
                  />
                </li>
                <li class="shape-5">
                  <img src="assets/images/svg-icons/circle-big.svg" alt="Shape" />
                </li>
                <li class="shape-6">
                  <img
                    src="assets/images/svg-icons/circle-small.svg"
                    alt="Shape"
                  />
                </li>
                <li class="shape-7 scene">
                  <img
                    data-depth="1.5"
                    src="assets/images/about/shape-13.png"
                    alt="Shape"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-8">
          <img src="assets/images/about/h-1-shape-01.png" alt="Shape" />
        </li>
      </ul>
    </div>
    <!--=====================================-->
    <!--=       Features Area Start      	=-->
    <!--=====================================-->
  
    <div class="features-area-6">
      <div class="edu-about-area about-style-3 language-about">
        <div class="container">
          <div class="row g-5 align-items-center">
            <div class="col-lg-6">
              <div class="about-image-gallery">
                <img
                  class="main-img-1"
                  src="assets/images/about/about-19.webp"
                  alt="About Image"
                />
                <div class="main-img-wrapper">
                  <div class="main-img-inner">
                    <img
                      class="main-img-2"
                      src="assets/images/about/about-20.webp"
                      alt="About Image"
                    />
                  </div>
                </div>
                <ul class="shape-group">
                  <li class="shape-1 scene">
                    <img
                      data-depth="1.5"
                      src="assets/images/about/shape-13.png"
                      alt="Shape"
                    />
                  </li>
                  <li class="shape-2">
                    <img
                      class="rotateit"
                      src="assets/images/faq/shape-04.png"
                      alt="Shape"
                    />
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="about-content">
                <div class="section-title section-left">
                  <span class="pre-title">About Us</span>
                  <h2 class="title">
                    <span class="color-primary">Our Milestones</span>
                  </h2>
                  <span class="shape-line"><i class="icon-19"></i></span>
                </div>
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#about-edu"
                      type="button"
                      role="tab"
                      aria-selected="true"
                    >
                      Trained Candidates 3500+
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#about-mission"
                      type="button"
                      role="tab"
                      aria-selected="false"
                    >
                      Our Mission
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#about-vision"
                      type="button"
                      role="tab"
                      aria-selected="false"
                    >
                      Our Vision
                    </button>
                  </li>
                </ul>
                <div class="tab-content">
                  <div
                    class="tab-pane fade show active"
                    id="about-edu"
                    role="tabpanel"
                  >
                    <p>
                      We have already skilled more than 3500+ students which makes
                      us proud as an institute. We continually awareness to offer
                      pleasant and improve stage training.
                    </p>
                    <ul class="features-list">
                      <li>Batches 175+</li>
                      <p>
                        One greater aspect which assists us to advantage
                        confidence that we will be able to is we already trained a
                        175+ batches till date. We are simply happy with that.
                      </p>
                      <li>Ratings 4.9/5</li>
                      <p>
                        It's actually remarkable to have 4.9 out of 5 from our
                        digital marketing trainees. Thank you, everyone, for your
                        love and support.
                      </p>
                      <li>In Industry Since 2016</li>
                      <p>
                        Our digital marketing trainers have 7+ years of experience
                        in the Digital Marketing industry. We can say proudly that
                        we let you be your personal professional with our experts
                        training.
                      </p>
                    </ul>
                  </div>
                </div>
                <div class="about-btn sal-animate">
                  <a href="#" class="edu-btn"
                    >Learn more <i class="icon-4"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="testimonial-area-6 gap-bottom-equal">
      <div class="container edublink-animated-shape">
        <div class="section-title section-center">
          <span class="pre-title"></span>
          <h2 class="title">
            <span class="color-secondary">Digital Marketing </span>Courses in
            Mumbai
          </h2>
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row row--40">
          <div class="col-lg-6">
            <div class="testimonial-activation-5 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-slide testimonial-style-3">
                    <div class="content">
                      <p></p>
                      <div class="author-info">
                        <div class="info">
                          <p>
                            We all are moving towards an era where the world is
                            going to be digital and so is marketing. So, now its
                            high time to gear up for the next big revolution &
                            reserve the future we all truly deserve.
                          </p>
                          <h6>
                            Here we are Digital Marketing Courses In Mumbai come
                            up with.
                          </h6>
                          <ul>
                            <li>Learn 50+ Modules of Digital Marketing</li>
                            <li>
                              Job, Freelancing, and Business Learning point of
                              view
                            </li>
                            <li>80+ Live Project Assignments</li>
                            <li>
                              100% Placement Assistance & Preparation ( Resume
                              Buiding, Mock Interview, Softskill Training )
                            </li>
                            <li>Top rated Institute on Google 4.9/5</li>
                            <li>FREE Domain & Hosting</li>
                            <li>
                              Student Portal (LMS) For Study Material, Backup
                              Training Videos, Placement, Assignments Etc.
                            </li>
                            <li>
                              100% Practical Delivery Method - Focusing On
                              Implementation & Execution
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="video-gallery video-gallery-5">
              <div class="thumbnail">
                <img src="assets/images/others/video-03.webp" alt="Thumb" />
                <a
                  href="https://www.youtube.com/watch?v=--YTYXKO_5A"
                  class="video-play-btn video-popup-activation"
                >
                  <i class="icon-18"></i>
                </a>
              </div>
              <div class="content"></div>
            </div>
          </div>
        </div>
        <ul class="shape-group">
          <li class="shape-2 scene">
            <img
              data-depth="2"
              src="assets/images/about/shape-25.png"
              alt="Shape"
            />
          </li>
          <li class="shape-3 scene">
            <span data-depth="-1"></span>
          </li>
        </ul>
      </div>
      <ul class="shape-group">
        <li class="shape-1">
          <img
            class="rotateit"
            src="assets/images/about/shape-13.png"
            alt="Shape"
          />
        </li>
      </ul>
    </section>
  
    <!-- Start Categories Area  -->
  
    <!-- End Categories Area  -->
    <!--=====================================-->
    <!--=       About Area Start      		=-->
    <!--=====================================-->
    <!-- Start Brand Area  -->
  
    <!-- End Brand Area  -->
    <div
      class="edu-categorie-area categorie-area-3 edu-section-gap bg-image"
      id="categories"
    >
      <div class="container">
        <div class="section-title section-center">
          <span class="pre-title pre-textsecondary">Categories</span>
          <h2 class="title">
            Why <span class="color-primary">Digital Trainee</span> Is Best in The
            Industry
          </h2>
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div
          class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-1 g-4"
        >
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-primary-style">
              <div class="icon">
                <i class="icon-9"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Get Domain and Hosting Totally Free!</h5>
                  <p class="title">
                    All the trainees are assigned a dedicated hosting and domain,
                    totally free for a duration of one year!
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-secondary-style">
              <div class="icon">
                <i class="icon-10"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Now Have Your Own Website</h5>
                  <p class="title">
                    Become the owner of your own website by developing it using
                    one of the latest technologies in WordPress.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra04-style">
              <div class="icon">
                <i class="icon-11"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Individual Attention</h5>
                  <p class="title">
                    Personal attention is provided towards each candidate at
                    Digital Trainee, thus ensuring interactive and effective
                    learning.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-tertiary-style">
              <div class="icon">
                <i class="icon-12"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Course Syllabus</h5>
                  <p class="title">
                    A comprehensive course that includes the entire 30 modules
                    along with the 12 sub-modules of Digital Marketing.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra02-style">
              <div class="icon">
                <i class="icon-13"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Method of Training Delivery</h5>
                  <p class="title">
                    The focus is on offering 100% practical and industry oriented
                    Digital Marketing course in Udaipur.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra07-style">
              <div class="icon design-pencil-icon">
                <i class="icon-42"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Limited Students in Batch</h5>
                  <p class="title">
                    Each batch consists of a maximum of 15 students, so that
                    trainers can pay personal attention to each and every trainee.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra06-style">
              <div class="icon">
                <i class="icon-14"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Google Webmaster Access</h5>
                  <p class="title">
                    Similar to Google Analytics, get access to live account of
                    Google Webmaster as well.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra03-style">
              <div class="icon laptop-icon">
                <i class="icon-16"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Experienced and Expert Faculty</h5>
                  <p class="title">
                    At Digital Trainee, trainees have the privilege to learn from
                    faculties having more than 7 years of experience in the field
                    of Digital Marketing
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra01-style">
              <div class="icon">
                <i class="icon-17"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Live money for Ad campaigns</h5>
                  <p class="title">
                    Learn how to set up ad campaigns by spending real money!
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra05-style">
              <div class="icon">
                <i class="icon-43"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Exclusive access to Google Analytics</h5>
                  <p class="title">
                    Trainees are provided exclusive access to live account of
                    Google Analytics.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-primary-style">
              <div class="icon">
                <i class="icon-9"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">
                    Uninterrupted Access To Google Search Console
                  </h5>
                  <p class="title">
                    Just like Google Analytics, also benefit from access to live
                    account of Google Webmaster.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-secondary-style">
              <div class="icon">
                <i class="icon-10"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Latest Tools</h5>
                  <p class="title">
                    Get to learn more than 50 popular and latest tools that would
                    help you to carry out your Digital Marketing endeavours
                    effectively, and in an automated
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra04-style">
              <div class="icon">
                <i class="icon-11"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Certifications</h5>
                  <p class="title">
                    17+ International Certifications to make you stand out as you
                    set out for a career in Digital Marketing.A proof of your
                    level of expertize.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-tertiary-style">
              <div class="icon">
                <i class="icon-12"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Internship</h5>
                  <p class="title">
                    Gain the much desired experience, with three months of
                    guaranteed internship at Digital Trainee. Remove that fresher
                    tag.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra02-style">
              <div class="icon">
                <i class="icon-13"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Business</h5>
                  <p class="title">
                    Our experts advice on important aspects like business strategy
                    etc., to facilitate the growth of your business.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra07-style">
              <div class="icon design-pencil-icon">
                <i class="icon-42"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Course Fees</h5>
                  <p class="title">
                    Digital Trainee is known to offer the best and competitive
                    course fees in the market.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra06-style">
              <div class="icon">
                <i class="icon-14"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Preparation for Interviews</h5>
                  <p class="title">
                    It covers resume building and enhancement, mock aptitude
                    tests, mock interviews and all that is necessary to prepare
                    you for the interviews
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra03-style">
              <div class="icon laptop-icon">
                <i class="icon-16"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Freelancing</h5>
                  <p class="title">
                    Freelancing project guidance that will help you to take up a
                    career in freelance Digital Marketing going ahead.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra01-style">
              <div class="icon">
                <i class="icon-17"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Perpetual Learning</h5>
                  <p class="title">
                    At Digital Trainee, trainees benefit from a perpetual learning
                    support, that permits lifetime learning.
                  </p>
                </a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="categorie-grid categorie-style-3 color-extra05-style">
              <div class="icon">
                <i class="icon-43"></i>
              </div>
              <div class="content">
                <a href="#">
                  <h5 class="title">Access to Online Training</h5>
                  <p class="title">
                    Now learn at a time convenient to you, from a place of your
                    choice. Anytime, anyplace learning is now possible!
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="testimonial-area-6 gap-bottom-equal">
      <div class="container edublink-animated-shape">
        <div class="section-title section-center">
          <span class="pre-title"></span>
          <h2 class="title">
            WHAT <span class="color-secondary">SOURAV GANGULY</span> SAYS ABOUT<br />
            DIGITAL TRAINEE?
          </h2>
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row row--40">
          <div class="col-lg-6">
            <div class="section-title section-left">
              <span class="pre-title"></span>
              <h4 class="title">
                “To make any dream come true, you need to have the right coach.
                Choose Digital Trainee and make your digital marketer dream comes
                true.”
              </h4>
              <span class="shape-line"><i class="icon-19"></i></span>
            </div>
            <div class="testimonial-activation-5 swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="testimonial-slide testimonial-style-3">
                    <div class="content">
                      <p></p>
                      <div class="author-info">
                        <!-- <div class="thumb">
                                  <img
                                    src="assets/images/testimonial/testimonial-01.png"
                                    alt="Testimonial"
                                  />
                                </div> -->
                        <div class="info">
                          <h5 class="title">
                            - Sourav Ganguly.
                            <div class="rating-icon">
                              <i class="icon-23"></i>
                              <i class="icon-23"></i>
                              <i class="icon-23"></i>
                              <i class="icon-23"></i>
                              <i class="icon-23"></i>
                            </div>
                          </h5>
                          <span class="subtitle"
                            >One of the most inclusive factors about digital
                            marketing is that individuals from any background can
                            switch to the field. You can work remotely on digital
                            marketing projects by selecting clients and projects
                            overseas. As long as people are using the Internet and
                            laptops for business operations, there will always be
                            a need for digital marketers. Don't wait any further
                            and enhance your capabilities by applying to Great
                            Learning's Master Digital Marketing course. Master
                            digital marketing skills with India's 'most
                            comprehensive digital marketing program' in a span of
                            2 months and 15 days. Apply Now!</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="video-gallery video-gallery-5">
              <div class="thumbnail">
                <img src="assets/images/others/video-03.webp" alt="Thumb" />
                <a
                  href="https://www.youtube.com/watch?v=p6bLqrjqSK0"
                  class="video-play-btn video-popup-activation"
                >
                  <i class="icon-18"></i>
                </a>
              </div>
              <div class="content">
                <h4 class="title">
                  Take a Video Tour to know about Digital Trainee
                </h4>
              </div>
            </div>
          </div>
        </div>
        <ul class="shape-group">
          <li class="shape-2 scene">
            <img
              data-depth="2"
              src="assets/images/about/shape-25.png"
              alt="Shape"
            />
          </li>
          <li class="shape-3 scene">
            <span data-depth="-1"></span>
          </li>
        </ul>
      </div>
      <ul class="shape-group">
        <li class="shape-1">
          <img
            class="rotateit"
            src="assets/images/about/shape-13.png"
            alt="Shape"
          />
        </li>
      </ul>
    </section>
  
    <!-- End Categories Area  -->
    <div class="home-photography-course edu-course-area">
      <div class="container edublink-animated-shape">
        <ul>
          <li>
            <div class="section-title section-left">
              <span class="pre-title">Available in Cities</span>
              <h2 class="title">
                Digital Marketing Job Opportunities, Eligibility, Industry Sector,
                Job Available in Cities
              </h2>
              <span class="shape-line"><i class="icon-19"></i></span>
            </div>
          </li>
          <li>
            <div class="course-view-all">
              <a href="#" class="edu-btn"
                >View All courses <i class="icon-4"></i
              ></a>
            </div>
          </li>
        </ul>
        <div class="row g-5">
          <!-- Start Single Course  -->
          <div class="col-xl-3 col-md-6">
            <div class="edu-course course-style-5">
              <div class="inner">
                <div class="thumbnail">
                  <a href="course-details.html">
                    <img
                      src="https://digitaltrainee.com/images/image/1.png"
                      alt="Course Meta"
                    />
                  </a>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html"
                      >Digital Marketing Eligibility</a
                    >
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
          <div class="col-xl-3 col-md-6">
            <div class="edu-course course-style-5">
              <div class="inner">
                <div class="thumbnail">
                  <a href="course-details.html">
                    <img
                      src="https://digitaltrainee.com/images/image/2.png"
                      alt="Course Meta"
                    />
                  </a>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Job Opportunities</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
          <div class="col-xl-3 col-md-6">
            <div class="edu-course course-style-5">
              <div class="inner">
                <div class="thumbnail">
                  <a href="course-details.html">
                    <img
                      src="https://digitaltrainee.com/images/image/3.png"
                      alt="Course Meta"
                    />
                  </a>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Job Industry</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
          <div class="col-xl-3 col-md-6">
            <div class="edu-course course-style-5">
              <div class="inner">
                <div class="thumbnail">
                  <a href="course-details.html">
                    <img
                      src="https://digitaltrainee.com/images/image/4.png"
                      alt="Course Meta"
                    />
                  </a>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Job Available In Cities</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
        </div>
      </div>
    </div>
  
    <!-- Start Categories Area  -->
  
    <!-- End Categories Area  -->
    <!-- Start Course Area  -->
    <div
      class="home-nine-course edu-course-area course-area-10 section-gap-equal"
    >
      <div class="container edublink-animated-shape">
        <div class="section-title section-center sal-animate">
          <span class="pre-title">Outcomes</span>
          <h2 class="title">Meet Our Successful Alumni</h2>
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row g-5">
          <!-- Start Single Course  -->
          <div class="col-xl-4 col-md-6">
            <div class="edu-course course-style-5 course-style-10">
              <div class="inner">
                <div class="video-gallery video-gallery-5">
                  <div class="thumbnail">
                    <img src="assets/images/others/video-03.webp" alt="Thumb" />
                    <a
                      href="https://www.youtube.com/watch?v=cHzLxqXSuAk"
                      class="video-play-btn video-popup-activation"
                    >
                      <i class="icon-18"></i>
                    </a>
                  </div>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Reviews & Testimonial</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
          <div class="col-xl-4 col-md-6">
            <div class="edu-course course-style-5 course-style-10">
              <div class="inner">
                <div class="video-gallery video-gallery-5">
                  <div class="thumbnail">
                    <img src="assets/images/others/video-03.webp" alt="Thumb" />
                    <a
                      href="https://www.youtube.com/watch?v=8NSym7_nqNU"
                      class="video-play-btn video-popup-activation"
                    >
                      <i class="icon-18"></i>
                    </a>
                  </div>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Reviews & Testimonial</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
          <div class="col-xl-4 col-md-6">
            <div class="edu-course course-style-5 course-style-10">
              <div class="inner">
                <div class="video-gallery video-gallery-5">
                  <div class="thumbnail">
                    <img src="assets/images/others/video-03.webp" alt="Thumb" />
                    <a
                      href="https://www.youtube.com/watch?v=dK_hwglaO88"
                      class="video-play-btn video-popup-activation"
                    >
                      <i class="icon-18"></i>
                    </a>
                  </div>
                </div>
                <div class="content">
                  <h6 class="title">
                    <a href="course-details.html">Reviews & Testimonial</a>
                  </h6>
                </div>
              </div>
            </div>
          </div>
          <!-- End Single Course  -->
          <!-- Start Single Course  -->
        </div>
        <div class="course-view-all">
          <a href="#" class="edu-btn"
            >Browse more courses <i class="icon-4"></i
          ></a>
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-1">
          <img
            class="d-block-shape-light"
            data-depth="2"
            src="assets/images/others/map-shape-3.png"
            alt="Shape"
          />
          <img
            class="d-none-shape-dark"
            data-depth="2"
            src="assets/images/others/3-Home-1.png"
            alt="Shape"
          />
        </li>
        <li class="shape-2">
          <img
            class="d-block-shape-light"
            data-depth="2"
            src="assets/images/others/map-shape-3.png"
            alt="Shape"
          />
          <img
            class="d-none-shape-dark"
            data-depth="2"
            src="assets/images/others/dark-map-shape-3.png"
            alt="Shape"
          />
        </li>
        <li class="shape-3">
          <img
            class="rotateit"
            src="assets/images/about/shape-13.png"
            alt="Shape"
          />
        </li>
        <li class="shape-4">
          <span></span>
        </li>
      </ul>
    </div>
    <!-- End Course Area -->
  
    <!--=====================================-->
    <!--=       Testimonial Area Start      =-->
    <!--=====================================-->
    <!-- Start Testimonial Area  -->
  
    <!-- End Testimonial Area  -->
  
    <!--=====================================-->
    <!--=       Counterup Area Start       	=-->
    <!--=====================================-->
    <!-- Start Team Area  -->
  
    <!-- End Team Area  -->
  
    <!--=====================================-->
    <!--=      Call TO Action Area Start    =-->
    <!--=====================================-->
    <div class="edu-team-area team-area-1 gap-tb-text">
      <div class="container">
        <div class="section-title section-center">
          <span class="pre-title">New Upcoming Batches </span>
          <h2 class="title">Let's make something great together:</h2>
  
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <table>
          <thead>
            <tr>
              <th>BATCH TIME</th>
              <th>START DATE</th>
              <th>DURATION</th>
              <th>BATCH TYPE</th>
              <th>Branch</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>10:00 AM - 12:00 PM</td>
              <td>6th June</td>
              <td>Weekdays (3 months)</td>
              <td>Hadapsar, Pune</td>
              <td>Classroom</td>
            </tr>
            <tr>
              <td>3:00 PM - 5:00 PM</td>
              <td>29th May</td>
              <td>Weekdays (2 months 15 days)</td>
              <td>Nal Stop, Pune</td>
              <td>Online</td>
            </tr>
            <tr>
              <td>3:00 PM - 5:00 PM</td>
              <td>29th May</td>
              <td>Weekdays (2 months 15 days)</td>
              <td>Nal Stop, Pune</td>
              <td>Classroom</td>
            </tr>
            <tr>
              <td>4:00 PM - 6:00 PM</td>
              <td>2nd June</td>
              <td>Weekdays (2 months 15 days)</td>
              <td>Pimpri Chinchwad(PCMC)</td>
              <td>Classroom</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Start Blog Area  -->
    <div class="edu-blog-area blog-area-1 edu-section-gap">
      <div class="container">
        <div class="section-title section-center">
          <span class="pre-title">Latest Articles</span>
          <h2 class="title">
            Practical Digital Marketing Training for Students, Job seekers,
            Business Owners, Working Professionals, Entrepreneur
          </h2>
  
          <span class="shape-line"><i class="icon-19"></i></span>
        </div>
        <div class="row g-5">
          <!-- Start Blog Grid  -->
          <div class="col-lg-4 col-md-6 col-12">
            <div class="edu-blog blog-style-1">
              <div class="inner">
                <div class="thumbnail">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog-01.jpg" alt="Blog Images" />
                  </a>
                </div>
                <div class="content position-top">
                  <div class="read-more-btn">
                    <a class="btn-icon-round" href="blog-details.html"
                      ><i class="icon-4"></i
                    ></a>
                  </div>
  
                  <h5 class="title">
                    <a href="blog-details.html">Job Seeker </a>
                  </h5>
  
                  <p>
                    Today, the job scenario is changing at a rapid pace. The days
                    are gone when candidates used to confine themselves into the
                    huge pile of books in the name of preparation for job
                    interviews. We have entered such an era where everything is
                    digitized, and which are not, will be digitized in the future.
                    This clearly indicates that ‘Digital Marketing’ is the future.
                    Recent studies clearly indicate that there would be an
                    enormous rise in Digital Marketing jobs in India, with more
                    than 1.5 lakh jobs opportunities to be created within the next
                    couple of years. So, join the bandwagon and enroll for Digital
                    Trainee's Digital Marketing in Mumbai, and own a career that
                    others can only dream for!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Blog Grid  -->
          <!-- Start Blog Grid  -->
          <div class="col-lg-4 col-md-6 col-12">
            <div class="edu-blog blog-style-1">
              <div class="inner">
                <div class="thumbnail">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog-02.jpg" alt="Blog Images" />
                  </a>
                </div>
                <div class="content position-top">
                  <div class="read-more-btn">
                    <a class="btn-icon-round" href="blog-details.html"
                      ><i class="icon-4"></i
                    ></a>
                  </div>
  
                  <h5 class="title">
                    <a href="blog-details.html">Working Professionals</a>
                  </h5>
  
                  <p>
                    Marketing is an inevitable part of every business and slowly
                    the world is moving from traditional marketing practices to
                    digital marketing because Digital Marketing is that magic
                    stick which has the capability to leverage any business from
                    being Local to being Global! We at Digital Trainee take the
                    responsibility of not only helping the business owners learn
                    Digital Marketing but also help them give shape to their
                    burgeoning ideas which would surely help their business attain
                    new heights. at Digital Trainee welcome all type of Business
                    Owners to be a part of our Digital Marketing Course in Mumbai.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Blog Grid  -->
          <!-- Start Blog Grid  -->
          <div class="col-lg-4 col-md-6 col-12">
            <div class="edu-blog blog-style-1">
              <div class="inner">
                <div class="thumbnail">
                  <a href="blog-details.html">
                    <img src="assets/images/blog/blog-03.jpg" alt="Blog Images" />
                  </a>
                </div>
                <div class="content position-top">
                  <div class="read-more-btn">
                    <a class="btn-icon-round" href="blog-details.html"
                      ><i class="icon-4"></i
                    ></a>
                  </div>
  
                  <h5 class="title">
                    <a href="blog-details.html">Business Owners</a>
                  </h5>
  
                  <p>
                    In this world of fierce competition, every other individual
                    wants to be a perfect professional. Yes, now everyone can be a
                    perfect marketer and take their professionalism to the next
                    level with our tailored Digital Marketing courses, that have
                    been designed to suit every individual’s customized needs. We
                    at Digital Trainee are solely dedicated to offering top notch
                    classroom program in Digital Marketing, which not only
                    provides you with numerous job opportunities but also grooms
                    you to be a perfect professional. Come, join us and be a part
                    of the digital revolution!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- End Blog Grid  -->
        </div>
      </div>
      <ul class="shape-group">
        <li class="shape-1 scene">
          <img
            data-depth="-1.4"
            src="assets/images/about/shape-02.png"
            alt="Shape"
          />
        </li>
        <li class="shape-2 scene">
          <span data-depth="2.5"></span>
        </li>
        <li class="shape-3 scene">
          <img
            data-depth="-2.3"
            src="assets/images/counterup/shape-05.png"
            alt="Shape"
          />
        </li>
      </ul>
    </div>
    <!-- End Blog Area  -->
  </div>
  <!--=====================================-->
  <!--=       Course Area Start      	=-->
  <!--=====================================-->
  