
<link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css"
    rel="stylesheet">



<div class="sbuttons">

    <a href="#" target="_blank" class="sbutton whatsapp" tooltip="WhatsApp"><i
            class="fab fa-whatsapp"></i></a>
    <a href="https://www.youtube.com/@DigitalTrainee" target="_blank" class="sbutton youtube" tooltip="Youtube"> <i
            class="fab fa-youtube"></i></a>
    <a href="https://www.instagram.com/digital_trainee/" target="_blank" class="sbutton instagram" tooltip="Instagram">
        <i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/company/digital-trainee/" target="_blank" class="sbutton linkedin" tooltip="Linkdin"> <i
            class="fab fa-linkedin-in"></i></a>
    <a href="https://www.facebook.com/digitaltrainee" target="_blank"
        class="sbutton fb" tooltip="Facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/_Digitaltrainee" target="_blank" class="sbutton
        twitt" tooltip="Twitter"><i class="fab fa-twitter"></i></a>

    <a target="_blank" class="sbutton mainsbutton" tooltip="Share"><i class="fas
            fa-share-alt"></i></a>

</div>
