<div id="main-wrapper" class="main-wrapper">
  <!--=====================================-->
  <!--=       Breadcrumb Area Start      =-->
  <!--=====================================-->

  <div class="edu-breadcrumb-area">
    <div class="container">
      <div class="breadcrumb-inner">
        <div class="page-title">
          <h1 class="title">Contact Us</h1>
        </div>
        <ul class="edu-breadcrumb">
          <li class="breadcrumb-item"><a href="index-one.html">Home</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item"><a href="#">Pages</a></li>
          <li class="separator"><i class="icon-angle-right"></i></li>
          <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
        </ul>
      </div>
    </div>
    <ul class="shape-group">
      <li class="shape-1">
        <span></span>
      </li>
      <li class="shape-2 scene">
        <img
          data-depth="2"
          src="assets/images/about/shape-13.png"
          alt="shape" />
      </li>
      <li class="shape-3 scene">
        <img
          data-depth="-2"
          src="assets/images/about/shape-15.png"
          alt="shape" />
      </li>
      <li class="shape-4">
        <span></span>
      </li>
      <li class="shape-5 scene">
        <img
          data-depth="2"
          src="assets/images/about/shape-07.png"
          alt="shape" />
      </li>
    </ul>
  </div>

  <!--=====================================-->
  <!--=       Contact Me Area Start       =-->
  <!--=====================================-->
  <section class="contact-us-area">
    <div class="container">
      <div class="row g-5">
        <div class="col-xl-4 col-lg-6">
          <div class="contact-us-info">
            <h3 class="heading-title">We're Always Eager to Hear From You!</h3>
            <ul class="address-list">
              <li>
                <h5 class="title">Address</h5>
                <p>
                  2nd floor, Manohar appt, Opp to P. N Gadgil jewellers,
                  Shankarrao Joshi road, Karve Rd, near Nisarg Sea Food Hotel,
                  Erandwane, Pune, Maharashtra 411004
                </p>
              </li>
              <li>
                <h5 class="title">Email</h5>
                <p>
                  <a href="mailto:info@digitaltrainee.com">
                    info@digitaltrainee.com</a>
                </p>
              </li>
              <li>
                <h5 class="title">Phone</h5>
                <p><a href="tel:+0918983765316">(+091) 898 3765 316 </a></p>
              </li>
            </ul>
            <ul class="social-share">
              <li>
                <a href="#"><i class="icon-share-alt"></i></a>
              </li>
              <li>
                <a href="https://www.facebook.com/digitaltrainee"><i
                    class="icon-facebook"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/_Digitaltrainee"><i
                    class="icon-twitter"></i></a>
              </li>
              <li>
                <a href="https://www.linkedin.com/company/digital-trainee/"><i
                    class="icon-linkedin2"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="offset-xl-2 col-lg-6">
          <div class="contact-form form-style-2">
            <div class="section-title">
              <h4 class="title">Get In Touch</h4>
              <p>
                Fill out this form for booking a consultant advising session.
              </p>
            </div>
            <form
              class="rnt-contact-form rwt-dynamic-form"
              [formGroup]="form"
              (ngSubmit)="submit();form.reset()" action="/submit-form"
             >
              <div class="row row--10">
                <div class="form-group col-12">
                  <input
                    type="text"
                    name="name"
                    formControlName="name"
                    id="name"
                    placeholder="Enter Your Name"
                    class="form-control" />
                  <div
                    *ngIf="f['name'].touched && f['name'].invalid"
                    class="alert alert-danger">
                    <div
                      *ngIf="f['name'].errors && f['name'].errors['required']">
                      Name is required.
                    </div>
                    <div
                      *ngIf="f['name'].errors && f['name'].errors['minlength']">
                      Name should be 3 character.
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <input
                    formControlName="email"
                    type="email"
                    name="email"
                    id="email"
                    placeholder="Enter Your Email ID" />
                  <div
                    *ngIf="f['email'].touched && f['email'].invalid"
                    class="alert alert-danger">
                    <div
                      *ngIf="f['email'].errors && f['email'].errors['required']">
                      Email is required.
                    </div>
                    <div
                      *ngIf="f['email'].errors && f['email'].errors['email']">
                      Please, enter valid email address.
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <input
                    type="tel"
                    name="mob"
                    id="mob"
                    placeholder="Enter Your Phone number"
                    formControlName="mob" />
                  <div
                    *ngIf="f['mob'].touched && f['mob'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="f['mob'].errors?.['required']">
                      Please enter mobile number
                    </div>
                    <div *ngIf="f['mob'].errors?.['pattern']">
                      Mobile number is not 10 digit
                    </div>
                  </div>
                </div>
                <div class="form-group col-12">
                  <h6>--Select Course Type--</h6>
                  <mat-form-field>
                    <mat-label>Choose an option</mat-label>
                    <mat-select formControlName="course">
                      <mat-option value="" selected>--Select Course Type--</mat-option>
                      <mat-option value="Online Training">Online
                        Training</mat-option>

                      <mat-option
                        value="Classroom Training"
                        (click)="ToogleDisplayDiv()">Classroom Training</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <div
                    *ngIf="f['course'].touched && f['course'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="f['course'].errors?.['required']">
                      --Select Course Type--
                    </div>
                  </div>
                
                  <div [hidden]="isShowDiv">
                    <h6>Select Your Nearest Branch</h6>
                    <mat-form-field>
                      <mat-label>Choose an option</mat-label>
                      <mat-select matNativeControl formControlName="branch">
                        <mat-option value selected>--Select Your Nearest
                          Branch--</mat-option>
                        <mat-option value="Nal Stop, Pune">Nal Stop, Pune</mat-option>
                        <mat-option value="Pimpri Chinchwad(PCMC)">Pimpri
                          Chinchwad(PCMC)</mat-option>
                        <mat-option value="Viman Nagar, Pune">Viman Nagar, Pune</mat-option>
                        <mat-option value="Thane">Thane</mat-option>
                        <!-- <mat-option value="saab" disabled>Pimpri Chinchwad(PCMC)</mat-option> -->
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div
                    *ngIf="f['branch'].touched && f['branch'].invalid"
                    class="alert alert-danger">
                    <div *ngIf="f['branch'].errors?.['required']">
                      --Select Your Nearest Branch--
                    </div>
                  </div>
                </div>

                <div class="form-group col-12">
                  <button
                    class="rn-btn edu-btn btn-medium submit-btn"
                    name="submit"
                    type="submit">
                    Submit Message <i class="icon-4"></i>
                  </button>
                </div>
              </div>
            </form>
            <ul class="shape-group">
              <li class="shape-1 scene">
                <img
                  data-depth="1"
                  src="assets/images/about/shape-13.png"
                  alt="Shape" />
              </li>
              <li class="shape-2 scene">
                <img
                  data-depth="-1"
                  src="assets/images/counterup/shape-02.png"
                  alt="Shape" />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=====================================-->
  <!--=      Google Map Area Start        =-->
  <!--=====================================-->
  <div class="google-map-area">
    <div class="mapouter">
      <div class="gmap_canvas">
        <!-- <iframe
            id="gmap_canvas"
            src="https://maps.google.com/maps?q=melbourne,%20Australia&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
          ></iframe> -->
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7566.979090903984!2d73.831105!3d18.506767!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf8d6e0103bd%3A0xe3716f566c637359!2sDigital%20Trainee%20-%20Digital%20Marketing%20Courses%20in%20Pune!5e0!3m2!1sen!2sin!4v1684989479579!5m2!1sen!2sin"
          frameborder="0"
          scrolling="no"
          marginheight="0"
          marginwidth="0"
          id="gmap_canvas"></iframe>
      </div>
    </div>
  </div>
</div>

<div class="edu-blog-area blog-area-1 edu-section-gap">
  <div class="container">
    <div class="row g-5">
      <!-- Start Blog Grid  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="edu-blog blog-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img
                  src="https://edublink.html.devsblink.com/assets/images/blog/blog-01.jpg"
                  alt="Blog Images" />
              </a>
            </div>
            <div class="content position-top">
              <div class="read-more-btn">
                <a class="btn-icon-round" href="blog-details.html"><i
                    class="icon-4"></i></a>
              </div>

              <h5 class="title">
                <a href="#">FOR ENQUIRY AND ADMISSION</a>
              </h5>
              <ul>
                <li>Viman Nagar, Pune : 8983774747</li>
                <li>PCMC, Pune : 9168875782</li>
                <li>Hadapsar, Pune : 9309904352</li>
                <li>Andheri (E), Mumbai : 9921500480</li>
                <li>Thane, Mumbai : 9975829071</li>
                <li>Trivandrum, Kerala : 9946758154</li>
                <li>Surat, Gujarat : 7249860957</li>
                <li>Ahmedabad, Gujarat : 9510490976</li>
                <li>Nagpur : 7972116488</li>
              </ul>
              <h5 class="title">
                <a href="#"> Email : info@digitaltrainee.com</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="edu-blog blog-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img
                  src="https://edublink.html.devsblink.com/assets/images/blog/blog-02.jpg"
                  alt="Blog Images" />
              </a>
            </div>
            <div class="content position-top">
              <div class="read-more-btn">
                <a class="btn-icon-round" href="blog-details.html"><i
                    class="icon-4"></i></a>
              </div>

              <h5 class="title">
                <a href="#">HR AND PLACEMENT DEPARTMENT</a>
              </h5>

              <ul>
                <li>HR : 9325452845</li>
                <li>PLACEMENT : 7559434492</li>
                <li>PLACEMENT : 9975828760</li>
              </ul>
              <h5 class="title">
                <a href="#"> Timing :</a>
              </h5>

              <p>
                Mon - Fri : 09:00 AM to 06:00 PM And Sat : 09:00 AM to 02:00 PM
              </p>
              <h5 class="title">
                <a href="#"> Email : hr@digitizebrand.com</a>
                <a href="#"> Email : placement@digitizebrand.com</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
      <!-- Start Blog Grid  -->
      <div class="col-lg-4 col-md-6 col-12">
        <div class="edu-blog blog-style-1">
          <div class="inner">
            <div class="thumbnail">
              <a href="blog-details.html">
                <img
                  src="https://edublink.html.devsblink.com/assets/images/blog/blog-03.jpg"
                  alt="Blog Images" />
              </a>
            </div>
            <div class="content position-top">
              <div class="read-more-btn">
                <a class="btn-icon-round" href="blog-details.html"><i
                    class="icon-4"></i></a>
              </div>

              <h5 class="title">
                <a href="#">FOR TECHNICAL SUPPORT & CUSTOMER CO-ORDINATOR</a>
              </h5>
              <ul>
                <li>Nal Stop, Pune : 7385027261</li>
                <li>Nal Stop, Pune : 7666512658</li>
              </ul>
              <h5 class="title">
                <a href="#"> Timing :</a>
              </h5>
              <p>
                Mon - Fri : 09:00 AM to 06:00 PM And Sat : 09:00 AM to 02:00 PM
              </p>
              <h5 class="title">
                <a href="#"> Email : support@digitizebrand.com</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <!-- End Blog Grid  -->
    </div>
  </div>
  <ul class="shape-group">
    <li class="shape-1 scene">
      <img
        data-depth="-1.4"
        src="https://edublink.html.devsblink.com/assets/images/about/shape-02.png"
        alt="Shape" />
    </li>
    <li class="shape-2 scene">
      <span data-depth="2.5"></span>
    </li>
    <li class="shape-3 scene">
      <img
        data-depth="-2.3"
        src="https://edublink.html.devsblink.com/assets/images/counterup/shape-05.png"
        alt="Shape" />
    </li>
  </ul>
</div>
<!-- Start Course Area  -->
<div class="edu-course-area course-area-1 edu-section-gap bg-lighten01">
  <div class="container">
    <div class="section-title section-center">
      <h2 class="title">Our Branches</h2>
    </div>
    <div class="row g-5">
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="course-details.html">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15126.230794273202!2d73.785549!3d18.593969!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9b46f8e42bf%3A0xda4c25b77a3437b5!2sDigital%20Marketing%20Courses%20In%20Pimpri%20Chinchwad%20(PCMC)%20-%20Digital%20Trainee!5e0!3m2!1sen!2sin!4v1684409983967!5m2!1sen!2sin"
                  width="400"
                  height="200"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Pimpri Chinchwad Pune</span>
              <h6 class="title">
                <a href="#">PCMC, Spot 18 Mall, 6th Floor, Office no.610 Near
                  Jagtap
                  Dairy, Shivar Garden Road, Pimple Saudagar Pimpri Chinchwad,
                  Pune, Maharashtra 411027</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 9168875782</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Pimpri Chinchwad (PCMC), Pune</a>
              </h6>

              <p>
                PCMC, Spot 18 Mall, 6th Floor, Office no.610 Near Jagtap Dairy,
                Shivar Garden Road, Pimple Saudagar Pimpri Chinchwad, Pune,
                Maharashtra 411027
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 9168875782</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="course-details.html">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7564.6313358658235!2d73.919035!3d18.559802!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c14218155e31%3A0x69e04f94b0716a30!2sDigital%20Trainee%20-%20Digital%20Marketing%20Courses%20in%20Viman%20nagar!5e0!3m2!1sen!2sin!4v1684410402163!5m2!1sen!2sin"
                  width="400"
                  height="200"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Viman Nagar, Pune</span>
              <h6 class="title">
                <a href="#">Office No. 102, Gulmohar Centre Point, Sopan Nagar
                  Road
                  Opposite to Phoenix Market City, Viman Nagar Chowk, Pune,
                  Maharashtra 411014</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 8983774747</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Viman Nagar, Pune</a>
              </h6>

              <p>
                Office No. 102, Gulmohar Centre Point, Sopan Nagar Road Opposite
                to Phoenix Market City, Viman Nagar Chowk, Pune, Maharashtra
                411014
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 8983774747</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="#">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7567.133314796594!2d73.900682!3d18.503278!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c147547618c7%3A0x89d58b69b0de16d!2sDigital%20Trainee%20-%20Digital%20Marketing%20Courses%20in%20Hadapsar!5e0!3m2!1sen!2sin!4v1684410588734!5m2!1sen!2sin"
                  width="400"
                  height="200"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Hadapsar, Pune</span>
              <h6 class="title">
                <a href="#">Digital Trainee, KPCT Mall, A- Wing, Office No.209
                  Vitthal
                  Rao Shivarkar Rd, Hadapsar, Fatima Nagar, Wanowrie, Pune,
                  Maharashtra 411013</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 9309904352</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Hadapsar, Pune</a>
              </h6>

              <p>
                Digital Trainee, KPCT Mall, A- Wing, Office No.209 Vitthal Rao
                Shivarkar Rd, Hadapsar, Fatima Nagar, Wanowrie, Pune,
                Maharashtra 411013
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 9309904352</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="course-details.html">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7536.355785081998!2d72.975452!3d19.187431!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9d290bb4359%3A0xf3b6d6d04ef4d64d!2sDigital%20Trainee!5e0!3m2!1sen!2sin!4v1684410734913!5m2!1sen!2sin"
                  width="400"
                  height="200"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Thane, Mumbai </span>
              <h6 class="title">
                <a href="#">Krishna Plaza, Office No. 201- 2nd floor, Thane
                  Station Rd,
                  Jambli Naka, Thane West, Thane, Maharashtra 400601</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact : +91 9975829071</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Thane, Mumbai</a>
              </h6>

              <p>
                Krishna Plaza, Office No. 201- 2nd floor, Thane Station Rd,
                Jambli Naka, Thane West, Thane, Maharashtra 400601
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact: +91 9168875782</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
    </div>
    <br />
    <div class="row g-5">
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="course-details.html">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7892.028120253794!2d76.955052!3d8.498013!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05bba1fb2405b1%3A0x6bc64d9caeb42676!2sDigital%20Trainee!5e0!3m2!1sen!2sin!4v1684411407145!5m2!1sen!2sin"
                  width="400"
                  height="300"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Trivandrum, Kerala</span>
              <h6 class="title">
                <a href="#">Digital Trainee, Tc 26 | 871 Behind Saudi airlines,
                  Panavila
                  JUNCTION, Po, Thycaud, Thiruvananthapuram, Kerala 695014</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact : +91 9946758154</li>
                <li><i class="icon-25"></i> Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Trivandrum, Kerala</a>
              </h6>

              <p>
                Digital Trainee, Tc 26 | 871 Behind Saudi airlines, Panavila
                JUNCTION, Po, Thycaud, Thiruvananthapuram, Kerala 695014
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact : +91 9946758154</li>
                <li><i class="icon-25"></i> Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
      <!-- Start Single Course  -->
      <div class="col-md-6 col-xl-3">
        <div class="edu-course course-style-1 hover-button-bg-white">
          <div class="inner">
            <div class="thumbnail">
              <a href="course-details.html">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14677.608537088176!2d72.581389!3d23.118972!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e833dfcf65d9b%3A0x148ae1ec02908861!2sDigital%20Marketing%20Courses%20in%20Chandkheda%20-%20Digital%20Trainee!5e0!3m2!1sen!2sin!4v1684411379103!5m2!1sen!2sin"
                  width="400"
                  height="300"
                  style="border: 0"
                  allowfullscreen
                  loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade"></iframe>
              </a>
            </div>
            <div class="content">
              <span class="course-level">Ahmedabad, Gujarat</span>
              <h6 class="title">
                <a href="#">229, Highway Mall, Bus Stand, Near. Chandkheda, Near
                  Satyamev
                  Hospital, Chandkheda, Ahmedabad, Gujarat 382424</a>
              </h6>

              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact : +91 9510490976</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
          <div class="course-hover-content-wrapper">
            <button class="wishlist-btn"><i class="icon-22"></i></button>
          </div>
          <div class="course-hover-content">
            <div class="content">
              <button class="wishlist-btn"><i class="icon-22"></i></button>
              <span class="course-level">Our Branches</span>
              <h6 class="title">
                <a href="#">Ahmedabad, Gujarat</a>
              </h6>

              <p>
                229, Highway Mall, Bus Stand, Near. Chandkheda, Near Satyamev
                Hospital, Chandkheda, Ahmedabad, Gujarat 382424
              </p>
              <ul class="course-meta">
                <li><i class="icon-24"></i>Contact : +91 9510490976</li>
                <li><i class="icon-25"></i>Mail: info@digitaltrainee.com</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End Single Course  -->
    </div>
  </div>
</div>
<!-- End Course Area -->
