<div class="edu-breadcrumb-area breadcrumb-style-2 bg-image bg-image--21">
    <div class="container">
        <div class="breadcrumb-inner">
            <div class="page-title">
                <h1 class="title">Job Details</h1>
            </div>
            <ul class="edu-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="separator"><i class="icon-angle-right"></i></li>
                <li class="breadcrumb-item active" aria-current="page">Job Details</li>
            </ul>
        </div>
    </div>
</div>

<!--=====================================-->
<!--=     Courses Details Area Start    =-->
<!--=====================================-->
<section class="edu-section-gap course-details-area">
    <div class="container">
        <div class="row row--30">
            <div class="col-lg-8">
                <div class="course-details-content course-details-3">
                    <div class="entry-content">
                        <h2 class="title">Job Details</h2>
                        <!-- <ul class="course-meta">
                            <li><i class="icon-58"></i>by Edward Norton</li>
                            <li><i class="icon-59"></i>English</li>
                            <li class="course-rating">
                                <div class="rating">
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                    <i class="icon-23"></i>
                                </div>
                                <span class="rating-count">(720 Rating)</span>
                            </li>
                        </ul> -->
                        <!-- <div class="thumbnail">
                            <img src="assets/images/course/course-47.jpg" alt="Course">
                            <a href="https://www.youtube.com/watch?v=PICj5tr9hcc" class="video-play-btn video-popup-activation">
                                <i class="icon-18"></i>
                            </a>
                        </div> -->
                    </div>
                   

                    <div class="nav-tab-wrap">
                        
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                <div class="course-tab-content">
                                    <div class="course-overview">
                                       
                                        <h5>Responsibilities :</h5>
                                        <ul class="mb--50">
                                            <li>Perform keyword research in coordination with client business objectives to optimize existing content and uncover new opportunities.</li>
                                            <li>Provide SEO analysis and recommendations in coordination with elements and structure of websites and web pages.</li>
                                            <li>Administer search engine programs (XML sitemaps, shopping feeds, webmaster tools) for purposes of diagnostic reporting on client projects.</li>
                                            <li>Implement link building campaigns in coordination with organization goals.</li>
                                            <li>Assist in development and execution of communication/content strategies via social communities in coordination with SEO goals.</li>
                                            <li>Keep pace with SEO, search engine, social media and internet marketing industry trends and developments.</li>
                                            <li>Research and administer social media tools in support of clients social media strategy.</li>
                                            <li>Monitor and administer web analytics dashboards, reports, and key reporting tools, and point out key areas of importance in accordance client goals.</li>
                                            <li>Monitor and evaluate search results and search performance across the major search channels.</li>
                                            <li>Research and analyze competitor advertising links</li>
                                        </ul>
                                        <h5 class="title">Key Skills :</h5>
                                        <ul>
                                            <li>Candidate must have Good English Communication skills, both oral and written.</li>
                                            <li>Proficiency in MS Excel, PowerPoint, and Word.</li>
                                            <li>Experience in working with popular keyword tools.</li>
                                            <li>Experience working with CMS and building/administering content in CMS environments.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="course-sidebar-3">
                    <div class="edu-course-widget widget-course-summery">
                        <div class="inner">
                            <div class="content">
                          
                                <ul class="course-item">
                                    
                                    <li>
                                        <span class="label ">Designation:</span>
                                        <span class="value">Digital Marketing<br> Executive.</span>
                                    </li>
                                    <li>
                                        <span class="label">Education :</span>
                                        <span class="value">Any Graduation, <br>Post graduation</span>
                                    </li>
                                    <li>
                                        <span class="label">Experience :</span>
                                        <span class="value"> 2 to 3 years</span>
                                    </li>
                                    <li>
                                        <span class="label">Location :</span>
                                        <span class="value">Pune(Nalstop)</span>
                                    </li>
                                    <li>
                                        <span class="label">Interview Process :</span>
                                        <span class="value">Online Face to <br>face interviews</span>
                                    </li>
                                   
                                </ul>
                                <div class="read-more-btn" (click)="navigateToJobDetails()">
                                    <a href="#" class="edu-btn">Apply Now <i class="icon-4"></i></a>
                                </div>
                                <div class="share-area">
                                    <h4 class="title">Share On:</h4>
                                    <ul class="social-share">
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin2"></i></a></li>
                                        <li><a href="#"><i class="icon-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>